<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>VIP回收确认</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>VIP卡回收确认</h2>
    <!--内容111-->
    <div class="info_middlebody">
        <!--用户名-->
        <div class="info_content">
            <span>本次VIP卡回收总数：</span>
            <span>30</span>
        </div>

        <div class="info_content">
            <span>回收总金额：</span>
            <span >40,000</span>
        </div>

        <div class="info_content">
            <span>付款总金额：</span>
            <span >40,000</span>
        </div>

        <div class="info_content">
            <span>手续费：</span>
            <span >400</span>
        </div>

        <div class="info_content">
            <span>回收明细：</span>
            <span ><button class="btn btn-primary look_details">查看详情</button></span>
        </div>

        <!--纯文本---名称带*-->
        <div class="info_content" >
            <span style="vertical-align: top">备注信息：</span>
            <span>
               <textarea rows="3" cols="20" maxlength="50" class="form-control btn-md-zy11"></textarea>
               <p style="margin-top: 5px;font-size: 12px">最多输入50个字符</p>
            </span>
        </div>
        <div class="info_content">
            <span></span>
            <span>
                 <a href="../pay_info_fail/pay_details.html"><button type="button" class="btn btn-primary release_confirm_btn">确认</button></a>
                 <a href="vip_info_import.html"><button type="button" class="btn btn-primary release_confirm_btn">取消</button></a>
            </span>
        </div>
    </div>


    <!--模态框1-->
    <div class="modal fade"  id="look_details_model" tabindex="-1" aria-labelledby="info_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="info_modalLabel"> 回收详情 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <!-- 模态框中的表格-->
                    <div class="table-responsive info_table">
                        <table class="table table-striped">
                            <thead>
                            <tr class="tr-zy">
                                <th>收款人姓名</th>
                                <th>收款账号</th>
                                <th>开户行名称</th>
                                <th>开户行所在省份</th>
                                <th>开户行所在城市</th>
                                <th>金额（元）</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr align="center">
                                <td>小李</td>
                                <td>123456987963987</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>500</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>123456987963987</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>500</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>123456987963987</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>500</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-zy model-change1" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>
    $('.look_details').on('click', function () {

        modelInfo('#look_details_model'); //参数一：模态框id选择器
    });
</script>
</body>
</html>