<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>企业基本信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
    <style>

    </style>
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>账户充值</h2>

    <!--内容111-->
    <div class="info_middlebody">

        <div class="charge_certificate">
            <div class="authentication_title">您的企业未实名认证，无法使用现金账户充值</div>
            <a class="authentication_sub" onclick="window.parent.jfPageJump('基本信息','go_certificate')">立刻去认证</a>
        </div>
    </div>


</div>



<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.js"></script>
<script>



</script>
</body>
</html>