<div class="bank">
    <div class="bank_title">
        <div class="text">中国工商银行</div>
        <div class="delete_bankcard">删除</div>
    </div>
    <div class="bank_value">
        <div class="number">6222 8148 6215 0076</div>
        <div class="account_number">UAT测试账号</div>
    </div>
</div>