<div class="bank">
    <div class="bank_title">
        <div class="text">上海淘略数据处理有限公司</div>
        <div class="delete_bankcard">X</div>
    </div>
    <div class="bank_value">
        <div class="number">6222 8148 6215 0076 </div>
        <div class="account_number">中国工商银行上海徐家汇分行</div>
    </div>
</div>