.info_middlebody{

  /*<!--银行账户信息修改-金俊菲-2017-5.8-->*/
  .cards{
    width: 85%;
    margin: 0 auto;
    @media screen and (max-width: 800px){
      width: 100%;

    }

    &:after{
      content: "";
      display: block;
      clear: both;
    }

    @media screen and (max-width: 460px){
      display: block;
      width: auto;

    }

    &:last-child{
      margin-top: 30px;
      @media screen and (max-width: 460px){
        margin:0;
      }
    }

    .bank{
      width:31%;
      box-shadow:1px 0 10px #dfdfdf;
      border-radius: 10px;
      border:#dddddd solid 2px;
      background: #f8f8f8;
      float: left;
      margin-bottom: 30px;


      &:after{
        content: "";
        display: block;
        clear: both;
      }

      @media screen and (max-width: 800px){
        width: 30%;
      }
      @media screen and (max-width: 460px){
        width:100%;
        margin-bottom: 10px;

      }


      &:nth-child(2){
        margin:  0 30px;

        @media screen and (max-width: 1350px){
          margin: 0 25px;
        }
        @media screen and (max-width: 992px){
          margin: 0 20px;
        }
        @media screen and (max-width: 460px){
          margin: 0 0 10px 0;
        }
      }

      &:nth-child(5){
        margin:  0 30px;

        @media screen and (max-width: 1350px){
          margin: 0 25px;
        }

        @media screen and (max-width: 992px){
          margin: 0 20px;

        }
        @media screen and (max-width: 460px){
          margin: 0 0 10px 0;
        }
      }
      .bank_title{
        display: flex;
        justify-content: space-between;
        position: relative;


        &:before{
          content: " ";
          display: block;
          width: 100%;
          transform: scale(0.93);
          margin: 0 auto;
          height: 1px;
          border-bottom: 2px solid #dddddd;
         // top: 60px;
          bottom: 0;
          position: absolute;
        }
        &:after{
          content: " ";
          display: block;
          clear: both;
        }

        .text{
          font-size:30px;
          padding: 8px 15px;
          color: #757575;
          float: left;
          width: 85%;

          &:after{
            content: "";
            display: block;
            clear: both;
          }
        }
        .delete_bankcard{
          width:30px;
          height:30px;
          border-radius: 50%;
          background: #ff4646;
          float: right;
          &:after{
            content: "";
            display: block;
            clear: both;
          }

          font-size: 18px;
          padding: 3px 5px;
          text-align: center;
          margin: 14px 15px;
          color: #FFFFFF;
          cursor: pointer;

          opacity: 0.8;
          transition: opacity 0.3s linear;

          &:hover{
            opacity: 1;
          }

        }
        @media screen and (max-width: 1350px){


            &:before{
              content: " ";
              display: block;
              width: 100%;
              transform: scale(0.93);
              margin: 0 auto;
              height: 1px;
              border-bottom: 2px solid #dddddd;
             bottom: 0;
              position: absolute;
            }

            .text{
              font-size:24px;
              padding: 10px 14px;
              color: #757575;
              width: 80%;
            }
            .delete_bankcard{
              width:28px;
              height:28px;
              border-radius: 50%;
              background: #ff4646;
              font-size:16px;

              padding: 1.5px 6px;
              text-align: center;
              margin: 17px 14px;
              color: #FFFFFF;
            }


        }
        @media screen and (max-width: 1070px){

          &:before{
            content: " ";
            display: block;
            width: 100%;
            transform: scale(0.93);
            margin: 0 auto;
            height: 1px;
            border-bottom: 2px solid #dddddd;
           bottom: 0;
            position: absolute;
          }

          .text{
            font-size:22px;
            padding: 10px 14px;
            color: #757575;
          }
          .delete_bankcard{

            width:24px;
            height:24px;
            border-radius: 50%;
            background: #ff4646;
            font-size:16px;

            padding: 1px 6px;
            text-align: center;
            margin: 15px 14px;
            color: #FFFFFF;
          }


        }
        @media screen and (max-width: 992px){

          &:before{
            content: " ";
            display: block;
            width: 100%;
            transform: scale(0.93);
            margin: 0 auto;
            height: 1px;
            border-bottom: 2px solid #dddddd;
          //  top: 48px;
            bottom: 0;
            position: absolute;
          }

          .text{
            font-size:20px;
            padding: 10px 5px;
            color: #757575;
          }
          .delete_bankcard{

            width:21px;
            height:21px;
            border-radius: 50%;
            background: #ff4646;
            font-size: 14px;

            padding: 1px 3px;
            text-align: center;
            margin: 12px 5px;
            color: #FFFFFF;
          }
        }
        @media screen and (max-width: 800px){

          &:before{
            content: " ";
            display: block;
            width: 100%;
            transform: scale(0.93);
            margin: 0 auto;
            height: 1px;
            border-bottom: 2px solid #dddddd;
           // top: 36px;
            bottom: 0;
            position: absolute;
          }

          .text{
            font-size:16px;
            padding: 8px 4px;
            color: #757575;
          }
          .delete_bankcard{

            width:17px;
            height:17px;
            border-radius: 50%;
            background: #ff4646;
            font-size: 12px;

            text-align: center;
            margin: 10px 4px;
            color: #ffffff;
            padding: 0;
          }


        }
        @media screen and (max-width: 460px){

          &:before{
            content: " ";
            display: block;
            width: 100%;
            transform: scale(0.93);
            margin: 0 auto;
            height: 1px;
            border-bottom: 2px solid #dddddd;
           // top: 48px;
            bottom: 0;
            left:-1px;
            position: absolute;
          }

          .text{
            font-size:24px;
            padding: 6px 12px;
            color: #757575;
          }
          .delete_bankcard{

            width: 20px;
            height: 20px;
            font-size: 12px;
            background: #ff4646;
            padding: 2px 4px;
            text-align: center;
            margin: 14px 12px;
            color: #FFFFFF;

          }
        }
      }
      .bank_value{
        padding-left: 10px;

        .number{
          font-size:20px;
          font-weight: bolder;
          color: #757575;
          text-align:left;
          padding-top:40px;
          white-space: nowrap;
        }
        .account_number{
          font-size:20px;
          color: #757575;
          font-weight: lighter;
          text-align: left;
          padding: 5px 0 60px;
        }

        @media screen and (max-width: 1350px){
            padding-left: 10px;
            .number{
              font-size:16px;
              padding-top:25px;
            }
            .account_number{
              font-size:18px;
              padding: 5px 0 55px;

            }
        }
        @media screen and (max-width: 1070px){
          padding-left: 10px;
          .number{
            font-size:14px;
            padding-top:20px;

          }
          .account_number{
            font-size:16px;
            padding: 5px 0 50px;

          }
        }
        @media screen and (max-width: 992px){
          padding-left: 6px;
          .number{
            font-size:12px;
            padding-top:20px;

          }
          .account_number{
            font-size:14px;
            padding: 5px 0 40px;

          }
        }
        @media screen and (max-width: 800px){
          padding-left: 0;
          .number{
            font-size:14px;
            padding-top:15px;

          }
          .account_number{
            font-size:12px;
            padding: 5px 0 20px;

          }
        }
        @media screen and (max-width: 460px){
          padding-left: 10px;
          .number{
            font-size:16px;
            font-weight: bolder;
            color: #757575;
            text-align:left;
            padding-top:15px;

          }
          .account_number{
            font-size:16px;
            font-weight: inherit;
            padding: 5px 0 40px;
           /* color: #ababab;*/

          }
        }
        @media screen and (max-width: 350px){
          .number{
            font-size:14px;
            font-weight: bolder;
            color: #757575;
            text-align:left;
            padding-top:10px;
          }
        }
      }
    }
    .bank_add{
      width:31%;
      box-shadow:1px 0 10px #dfdfdf;
      border-radius: 10px;
      border:#dddddd dashed 2px;
      background: #f8f8f8;
      text-align: center;

      font-size: 30px;
      color: #ababab;
      font-weight: lighter;
      cursor: pointer;
      .add_text>span{
        font-size: 40px;
      }
      .add_text{
        padding: 80px 0;
      }
    }
    @media screen and (max-width: 1350px){
    .bank_add{
      width:31%;
      box-shadow:1px 0 10px #dfdfdf;
      border-radius: 10px;
      border:#dddddd dashed 2px;
      background: #f8f8f8;
      text-align: center;
      font-size: 24px;
      color: #ababab;
      font-weight: lighter;
      .add_text>span{
        font-size: 30px;
      }
      .add_text{
        padding: 75px 0;
      }
    }

  }
    @media screen and (max-width: 1070px){
      .bank_add{
        width:31%;
        box-shadow:1px 0 10px #dfdfdf;
        border-radius: 10px;
        border:#dddddd dashed 2px;
        background: #f8f8f8;
        text-align: center;

        font-size: 22px;
        color: #ababab;
        font-weight: lighter;
        .add_text>span{
          font-size:28px;
        }
        .add_text{
          padding: 65px 0;
        }
      }

    }
    @media screen and (max-width: 992px){
      .bank_add{
        width:31%;
        box-shadow:1px 0 10px #dfdfdf;
        border-radius: 10px;
        border:#dddddd dashed 2px;
        background: #f8f8f8;
        text-align: center;

        font-size: 18px;
        color: #ababab;
        font-weight: lighter;
        .add_text>span{
          font-size:24px;
        }
        .add_text{
          padding: 57px 0;
        }
      }

    }
    @media screen and (max-width: 800px){
      .bank_add{
        width:31%;
        box-shadow:1px 0 10px #dfdfdf;
        border-radius: 10px;
        border:#dddddd dashed 2px;
        background: #f8f8f8;
        text-align: center;

        font-size: 16px;
        color: #ababab;
        font-weight: lighter;
        .add_text>span{
          font-size:18px;
        }
        .add_text{
          padding: 44px 0;
        }
      }

    }
    @media screen and (max-width: 460px){
      .bank_add{
        width:100%;
        font-size: 18px;
        font-weight: inherit;
        color: #ababab;
        margin: 0 auto;
        cursor: pointer;
        .add_text>span{
          font-size:22px;
        }
        .add_text{
          padding: 25px 0;
        }
      }
    }
  }


  /*福利充值，现金充值页面*/
  .payer.cards,.collected.cards{
    width: 100%;
    margin-top: 0;


    @media screen and(max-width: 800px) {
      width: 100%;
      margin-top: 10px;

    }



    .choosed{
      position: relative;
      box-shadow: 0 0 5px 1px #59c7f4 inset;
      &:after{
        content: "";
        position: absolute;
        right: -4px;
        bottom: -19px;
        width: 0;
        height: 0;
        border-width: 30px 0 30px 30px;
        border-style: solid;
        border-color: transparent transparent transparent #59c7f4;
        border-radius: 6px;
        transform: rotate(45deg);
      }

      &:before{
        content: "";
        position: absolute;
        bottom: 8px;
        right: 7px;
        width: 10px;
        height: 18px;
        z-index: 10;
        border: solid 2px white;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg);
      }
    }


    .bank{
      width: 48%;
      margin-bottom: 10px;
      border-radius: 6px;
      cursor: pointer;
      background: #fff;
      border: none;
      line-height: 20px;



      @media screen and(max-width: 800px){
        width: 85%;
      }

      @media screen and(max-width: 500px){
        width: 100%;
      }

      &:nth-child(2n){
        margin-left: 20px;
        margin-right: 0;

        @media screen and(max-width: 1100px){
          margin-left: 10px;
        }
        @media screen and(max-width: 800px){
          margin-left: 0;
        }


        &:last-child{

          margin-bottom: 0;

        }
      }



      &:nth-child(2n-1){
       margin-left: 0;
        margin-bottom: 0;
        margin-right: 0;

        @media screen and(max-width: 1100px){
          margin-bottom: 10px;

        }
      }

      .bank_value{
        padding-left: 0;
      }

      .bank_value .number{
        font-size: 12px;
        font-weight: normal;
        padding-top: 0;
        padding-left: 10px;
        span{
          &:last-child{
            font-weight: bold;
          }
        }
      }

      .bank_title{
        &:before{
          transform: scale(0.95,0.6);
          bottom: 0;
          border-bottom: none;
        }
      }

      .bank_value .account_number{
        font-size: 12px;
        //padding: 5px 0 5px;
        font-weight: normal;
        padding: 0;
        padding-left: 10px;
        height: 40px;
        span{
          &:last-child{
            font-weight: bold;
          }
        }
      }
    }

    .bank .bank_title .text{
      width: 100%;
      font-size:12px;
      padding-top: 0;
      padding-bottom: 0;
      height: 45px;
      display: table;
      padding-right: 0;
      padding-left: 10px;

      p{
        margin: 0;
        display: table-cell;
        vertical-align: middle;

        span{
          &:last-child{
            font-weight: bold;
          }
        }
      }
    }

     .bank_add .add_text{
       >span{
         font-size: 22px;
       }
       padding: 43px 0 42px 0;
       font-size: 22px;
     }


  }

  .checkorder.payer.cards,.checkorder.collected.cards{
    margin-top: 0;

    .bank{
      float: none;
      width: 50%;
      margin: 0 auto;

      @media screen and(max-width: 992px) {
        float: left;
      }

      @media screen and(max-width: 500px) {
        width: 100%;
      }
    }

  }
}
/*模态框3-企业认证模态框*/
.authentication_title{
  font-size: 28px;
  text-align: center;
}
.authentication_sub{
  font-size: 22px;
  text-align: center;
  color: #10a6e2;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;

}

.charge_certificate{
  margin-top: 100px;

  .authentication_sub{
    margin-top: 50px;
  }
}

.mid_text{
  text-align: center;
  margin-top: 30px;
}