<div class="company_authentication">
    <%if(authenticated){%>
    <div class="authenticated">
        <p>您的企业已通过认证  <img src="../../icon/v.png"/> <span>企业已认证</span></p>
    </div>
    <%} else {%>
    <div class="Unauthorized">
                <p>您的企业还没有通过认证  <img src="../../icon/v2.png"/> <span>立刻去认证</span></p>
        </div>
   <%}%>


</div>