
<div class="product_details">

    <div class="title">
        <p>商品详情</p>
    </div>

    <div class="product_details_img">
        <p class="big_text">三只松鼠大礼包啦啦啦啦，中秋特惠礼盒装，快来购买！！！再不来就没有啦啦！！！！！！</p>
        <img src="../../icon/product_details1.png">
        <img src="../../icon/product_details2.jpg">
        <div class="small_text">三只松鼠大礼包三只松鼠大礼只松鼠大礼包三只松鼠大礼包三只松鼠大礼包三只松鼠大礼包</div>
    </div>
</div>
