<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>发放记录</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">

</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>企业采购明细
        <small>（电子卡订单）</small>
        <div>
            <a href="procurement_product.html" class="show_details">查看实物订单</a>
        </div>
    </h2>
    <!--内容111-->
    <div class="info_middlebody" style="margin-left: 0">
        <!-- 一排多个组件-->
        <div class="control-title">
            <div style="width: 100%">
                <span>订单时间：</span>
                <span>
                     <input size="16" type="text"  value="2016-06-15" readonly class="form_datetime form-control form-control-zy1">
                    至
                    <input size="16" type="text" value="2016-06-18"  readonly class="form_datetime form-control form-control-zy1" >
                </span>
            </div>
        </div>


        <div class="control-title">
            <div >
                <span >订单号：</span>
                <span>
                    <input class="form-control  form-control-zy" type="text"/>
                    </span>
            </div>
            <div >
                <span >订单状态：</span>
                <span>
                    <select class="form-control  form-control-zy">
                        <option selected="selected">全部</option>
                        <option >待付款</option>
                        <option >待配送</option>
                        <option >已配送</option>
                        <option >退款中</option>
                        <option >已取消</option>

                    </select>
                    </span>
            </div>
        </div>


        <div class="control-title">
            <div >
                <span ></span>
                <span></span>
            </div>
            <div >
                <span ></span>
                <span></span>
            </div>
        </div>

        <div class="control-title">
            <div >
                <span ></span>
                <span></span>
            </div>

            <div class="lastbtn-qd">
                <span style="visibility: hidden">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span><button type="submit" class="btn btn-primary btn-zyone btn-modeltwo">查询</button></span>
            </div>
        </div>
    </div>

    <!-- 表格-->
    <div class="table-responsive info_table">
        <table class="table table-striped">
            <thead>
            <tr class="tr-zy">
                <th>订单编号</th>
                <th>商品信息</th>
                <th>订单金额</th>
                <th>支付金额</th>
                <th>数量</th>
                <th>订单状态</th>
                <th>订单时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center">
                <td>4564988659596563</td>
                <td>星巴克七夕星li卡</td>
                <td>￥500.00</td>
                <td>￥500.00</td>
                <td>100</td>
                <td>待付款</td>
                <td>2017.08.01 12:00:00</td>
                <td><a href="#">去支付</a></td>
            </tr>
            <tr align="center">
                <td>4564988659596563</td>
                <td>星巴克七夕星礼卡</td>
                <td>￥500.00</td>
                <td>￥500.00</td>
                <td>100</td>
                <td>待配送</td>
                <td>2017.08.01 12:00:00</td>
                <td><a href="#">查看</a></td>
            </tr>
            <tr align="center">
                <td>4564988659596563</td>
                <td>星巴克七夕星礼卡</td>
                <td>￥500.00</td>
                <td>￥500.00</td>
                <td>100</td>
                <td>已配送</td>
                <td>2017.08.01 12:00:00</td>
                <td><a href="#">查看</a><a href="#" class="download_pasd">下载卡密</a></td>
            </tr>
            <tr align="center">
                <td>4564988659596563</td>
                <td>星巴克七夕星礼卡</td>
                <td>￥500.00</td>
                <td>￥500.00</td>
                <td>100</td>
                <td>退款中</td>
                <td>2017.08.01 12:00:00</td>
                <td><a href="#">去支付</a></td>
            </tr>
            <tr align="center">
                <td>4564988659596563</td>
                <td>星巴克七夕星礼卡</td>
                <td>￥500.00</td>
                <td>￥500.00</td>
                <td>100</td>
                <td>已取消</td>
                <td>2017.08.01 12:00:00</td>
                <td><a href="#">去支付</a></td>
            </tr>
            <tr align="center">
                <td>4564988659596563</td>
                <td>星巴克七夕星礼卡</td>
                <td>￥500.00</td>
                <td>￥500.00</td>
                <td>100</td>
                <td>待付款</td>
                <td>2017.08.01 12:00:00</td>
                <td><a href="#">去支付</a></td>
            </tr>
            <tr align="center">
                <td>4564988659596563</td>
                <td>星巴克七夕星礼卡</td>
                <td>￥500.00</td>
                <td>￥500.00</td>
                <td>100</td>
                <td>待付款</td>
                <td>2017.08.01 12:00:00</td>
                <td><a href="#">去支付</a></td>
            </tr>
            <tr align="center">
                <td>4564988659596563</td>
                <td>星巴克七夕星礼卡</td>
                <td>￥500.00</td>
                <td>￥500.00</td>
                <td>100</td>
                <td>待付款</td>
                <td>2017.08.01 12:00:00</td>
                <td><a href="#">去支付</a></td>
            </tr>
            <tr align="center">
                <td>4564988659596563</td>
                <td>星巴克七夕星礼卡</td>
                <td>￥500.00</td>
                <td>￥500.00</td>
                <td>100</td>
                <td>待付款</td>
                <td>2017.08.01 12:00:00</td>
                <td><a href="#">去支付</a></td>
            </tr>
            <tr align="center">
                <td>4564988659596563</td>
                <td>星巴克七夕星礼卡</td>
                <td>￥500.00</td>
                <td>￥500.00</td>
                <td>100</td>
                <td>待付款</td>
                <td>2017.08.01 12:00:00</td>
                <td><a href="#">去支付</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="info_page">
        <span class="skip">跳转到 <input class="skip-num form-control">页  <span class="btn btn-skip">跳转</span></span>
        <ul class="pagination" style="margin-top:0px; float:right;">
            <li class="go"><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li>&nbsp;...&nbsp;</li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="active"><a href="#">10</a></li>
            <li><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li>&nbsp;...&nbsp;</li>
            <li><a href="#">30</a></li>
            <li class="go"><a href="#">»</a></li>
        </ul>
    </div>


    <!--模态框-->
    <div class="modal fade"  id="pay_info_model" tabindex="-1" aria-labelledby="pay_info_modelLabel" aria-hidden="true"  data-backdrop=”static”>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="pay_info_modelLabel">短信验证</h4>
                </div>
                <!-- body-->
                <div class="modal-body">

                    <!--模态框组件-->
                    <div class="smodal_content">
                        <div class=" info_content">
                            <p class="pay_model_pp">
                                为保障安全，当前交易需进行短信验证
                            </p>
                            <p class="pay_model_pp">
                                短信验证码已经发送到手机：<span>158*****250</span>
                            </p>
                        </div>
                    </div>

                    <div class="smodal_content">
                        <div class="info_content">
                            <p class="pay_model_pp" style="padding-right: 65px">
                                <input type="text" class="form-control btn-md-zy" />
                                <button type="button" class="btn btn-primary input-group-addon getmessage " style="text-align: center;font-size: 12px">点击获取</button>
                            </p>

                        </div>
                    </div>

                    <%- include('../../component/basic/voice_code.ejs')%>

                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-primary-zy model-change1 edit_close">确认</button>
                        <button type="button" class="btn btn-default"  data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>
    $('input.form_datetime').each(function(){//------------------日历插件
        $(this).datepicker({
            format: "yyyy-mm-dd",
            autoclose :true,
            todayBtn :true,
            minView :2,
            weekStart :1,
            linked :true
        });
    });
    //分页点击效果
    $('ul.pagination').find('li:not(.go)').each(function(){

        $(this).click(function(){

            jfpagechange(this);//参数为选择的当前元素
        })
    })
    $('.download_pasd').on('click', function () {

        modelInfo('#pay_info_model'); //参数一：模态框id选择器
    });

    //倒计时

    $('button.getmessage').on('click', function () {
        getmessage(this,60);//参数表示选择的该元素
    });
</script>
</body>
</html>