<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>电子卡详情页</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <h2>福利买入订单查询</h2>

    <div class="info_middlebody">
        <div class="control-title">
            <div style="width: 100%">
                <span>买入提交时间：</span>
        <span>
                     <input size="16" type="text" value="2016-06-15" readonly
                            class="form_datetime form-control form-control-zy1">
                    至
                    <input size="16" type="text" value="2016-06-18" readonly
                           class="form_datetime form-control form-control-zy1">
                </span>
            </div>
        </div>

        <div class="control-title">
            <div>
                <span>订单号：</span>
        <span>
            <input type="text" class="form-control form-control-zy" placeholder="请输入订单号">
        </span>
            </div>
            <div>
                <span>订单状态：</span>
        <span>
                    <select class="form-control  form-control-zy">
                        <option>全部</option>
                        <option>待成交</option>
                        <option>部分成交</option>
                        <option>已成交</option>
                        <option>全部中止</option>
                        <option>部分中止</option>
                        <option>自动中止</option>

                    </select>
                    </span>
            </div>

        </div>
        <div class="control-title">
            <div>
                <span></span>
                <span>
                        <button type="submit" class="btn btn-primary btn-zyone btn-modeltwo">导出数据</button>
                </span>
            </div>

            <div>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="control-title">

            <div>
                <span></span>
                <span></span>
            </div>
            <div>
                <span></span>
                <span>
                        <a href="../error/403.html"><button type="submit" class="btn btn-primary btn-zyone btn-modeltwo">查询</button></a>
                </span>
            </div>

        </div>




    </div>


    <div class="table-responsive info_table">
        <table class="table table-striped">
            <thead>
            <tr class="tr-zy">
                <th>买入订单号</th>
                <th>买入提交时间</th>
                <th>买入福利</th>
                <th>买入单价</th>
                <th>已成交福利</th>
                <th>成交总价</th>
                <th>手续费（元）</th>
                <th>优惠（元）</th>
                <th>支付金额（元）</th>
                <th>订单状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center">
                <td>14653656536</td>
                <td>2017.01.01 12:00:00</td>
                <td>100</td>
                <td>0.998</td>
                <td>0</td>
                <td>99.80</td>
                <td>0</td>
                <td>0</td>
                <td>99.80</td>
                <td>部分成交</td>
                <td><span class="look">查看明细</span><span class="cancle_buy">中止继续买入</span></td>
            </tr>
            <tr align="center">
                <td>14653656536</td>
                <td>2017.01.01 12:00:00</td>
                <td>100</td>
                <td>0.998</td>
                <td>0</td>
                <td>99.80</td>
                <td>0</td>
                <td>0</td>
                <td>99.80</td>
                <td>已成交</td>
                <td><span class="look">查看明细</span></td>
            </tr>
            <tr align="center">
                <td>14653656536</td>
                <td>2017.01.01 12:00:00</td>
                <td>100</td>
                <td>0.998</td>
                <td>0</td>
                <td>99.80</td>
                <td>0</td>
                <td>0</td>
                <td>99.80</td>
                <td>待成交</td>
                <td><span class="look">查看明细</span><span class="cancle_buy">中止继续买入</span></td>
            </tr>
            <tr align="center">
                <td>14653656536</td>
                <td>2017.01.01 12:00:00</td>
                <td>100</td>
                <td>0.998</td>
                <td>0</td>
                <td>99.80</td>
                <td>0</td>
                <td>0</td>
                <td>99.80</td>
                <td>部分中止</td>
                <td><span class="look">查看明细</span></td>
            </tr>
            <tr align="center">
                <td>14653656536</td>
                <td>2017.01.01 12:00:00</td>
                <td>100</td>
                <td>0.998</td>
                <td>0</td>
                <td>99.80</td>
                <td>0</td>
                <td>0</td>
                <td>99.80</td>
                <td>自动中止</td>
                <td><span class="look">查看明细</span><span class="cancle_buy">中止继续买入</span></td>
            </tr>
            <tr align="center">
                <td>14653656536</td>
                <td>2017.01.01 12:00:00</td>
                <td>100</td>
                <td>0.998</td>
                <td>0</td>
                <td>99.80</td>
                <td>0</td>
                <td>0</td>
                <td>99.80</td>
                <td>待成交</td>
                <td><span class="look">查看明细</span><span class="cancle_buy">中止继续买入</span></td>
            </tr>
            <tr align="center">
                <td>14653656536</td>
                <td>2017.01.01 12:00:00</td>
                <td>100</td>
                <td>0.998</td>
                <td>0</td>
                <td>99.80</td>
                <td>0</td>
                <td>0</td>
                <td>99.80</td>
                <td>待成交</td>
                <td><span class="look">查看明细</span><span class="cancle_buy">中止继续买入</span></td>
            </tr>
            <tr align="center">
                <td>14653656536</td>
                <td>2017.01.01 12:00:00</td>
                <td>100</td>
                <td>0.998</td>
                <td>0</td>
                <td>99.80</td>
                <td>0</td>
                <td>0</td>
                <td>99.80</td>
                <td>待成交</td>
                <td><span class="look">查看明细</span><span class="cancle_buy">中止继续买入</span></td>
            </tr>
            <tr align="center">
                <td>14653656536</td>
                <td>2017.01.01 12:00:00</td>
                <td>100</td>
                <td>0.998</td>
                <td>0</td>
                <td>99.80</td>
                <td>0</td>
                <td>0</td>
                <td>99.80</td>
                <td>待成交</td>
                <td><span class="look">查看明细</span><span class="cancle_buy">中止继续买入</span></td>
            </tr>
            <tr align="center">
                <td>14653656536</td>
                <td>2017.01.01 12:00:00</td>
                <td>100</td>
                <td>0.998</td>
                <td>0</td>
                <td>99.80</td>
                <td>0</td>
                <td>0</td>
                <td>99.80</td>
                <td>待成交</td>
                <td><span class="look">查看明细</span><span class="cancle_buy">中止继续买入</span></td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="info_page">
        <span class="skip">跳转到 <input class="skip-num form-control">页  <span class="btn btn-skip">跳转</span></span>
        <ul class="pagination" style="margin-top:0px; float:right;">
            <li class="go"><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li>&nbsp;...&nbsp;</li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="active"><a href="#">10</a></li>
            <li><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li>&nbsp;...&nbsp;</li>
            <li><a href="#">30</a></li>
            <li class="go"><a href="#">»</a></li>
        </ul>
    </div>


</div>





<!--中止继续买入模态框-->
<div class="modal fade"  id="cancle_modal" tabindex="-1" aria-labelledby="modify_addressLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                <h4 class="modal-title" id="modify_addressLabel">中止继续买入</h4>
            </div>
            <!-- body-->
            <div class="modal-body">


                <h2 class="delete_title" style="font-size: 26px">中止买入后不影响已经成交的福利额度，只是不再继续买入</h2>

                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-zy">确认</button>
                    <button type="button" class="btn btn-default"  data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--成交明细模态框-->
<div class="modal fade"  id="order_detials" tabindex="-1" aria-labelledby="modify_addressLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                <h4 class="modal-title">福利买入成交明细</h4>
            </div>
            <!-- body-->
            <div class="modal-body">
                <div class="modal_section_text">
                    <div class="text_value"><span>已成功购入福利额度：</span><span>500</span></div>
                    <div class="text_value"><span>现金账户已扣减金额：</span><span>500</span></div>
                </div>

                <!-- 模态框中的表格-->
                <div class="table-responsive info_table">
                    <table class="table table-striped">
                        <thead>
                        <tr class="tr-zy">
                            <th>卖出订单号</th>
                            <th>成交福利</th>
                            <th>成交单价（元）</th>
                            <th>成交总价（元）</th>
                            <th>手续费（元）</th>
                            <th>优惠（元）</th>
                            <th>支付金额（元）</th>
                            <th>成交时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr align="center">
                            <td>46456496559659</td>
                            <td>500</td>
                            <td>0.998</td>
                            <td>499</td>
                            <td>0</td>
                            <td>0</td>
                            <td>499</td>
                            <td>2017.11.11.12:00:00</td>
                        </tr>
                        <tr align="center">
                            <td>46456496559659</td>
                            <td>500</td>
                            <td>0.998</td>
                            <td>499</td>
                            <td>0</td>
                            <td>0</td>
                            <td>499</td>
                            <td>2017.11.11.12:00:00</td>
                        </tr>
                        <tr align="center">
                            <td>46456496559659</td>
                            <td>500</td>
                            <td>0.998</td>
                            <td>499</td>
                            <td>0</td>
                            <td>0</td>
                            <td>499</td>
                            <td>2017.11.11.12:00:00</td>
                        </tr>
                        <tr align="center">
                            <td>46456496559659</td>
                            <td>500</td>
                            <td>0.998</td>
                            <td>499</td>
                            <td>0</td>
                            <td>0</td>
                            <td>499</td>
                            <td>2017.11.11.12:00:00</td>
                        </tr>
                        <tr align="center">
                            <td>46456496559659</td>
                            <td>500</td>
                            <td>0.998</td>
                            <td>499</td>
                            <td>0</td>
                            <td>0</td>
                            <td>499</td>
                            <td>2017.11.11.12:00:00</td>
                        </tr>
                        <tr align="center">
                            <td>46456496559659</td>
                            <td>500</td>
                            <td>0.998</td>
                            <td>499</td>
                            <td>0</td>
                            <td>0</td>
                            <td>499</td>
                            <td>2017.11.11.12:00:00</td>
                        </tr>
                        <tr align="center">
                            <td>46456496559659</td>
                            <td>500</td>
                            <td>0.998</td>
                            <td>499</td>
                            <td>0</td>
                            <td>0</td>
                            <td>499</td>
                            <td>2017.11.11.12:00:00</td>
                        </tr>
                        <tr align="center">
                            <td>46456496559659</td>
                            <td>500</td>
                            <td>0.998</td>
                            <td>499</td>
                            <td>0</td>
                            <td>0</td>
                            <td>499</td>
                            <td>2017.11.11.12:00:00</td>
                        </tr>
                        <tr align="center">
                            <td>46456496559659</td>
                            <td>500</td>
                            <td>0.998</td>
                            <td>499</td>
                            <td>0</td>
                            <td>0</td>
                            <td>499</td>
                            <td>2017.11.11.12:00:00</td>
                        </tr>
                        <tr align="center">
                            <td>46456496559659</td>
                            <td>500</td>
                            <td>0.998</td>
                            <td>499</td>
                            <td>0</td>
                            <td>0</td>
                            <td>499</td>
                            <td>2017.11.11.12:00:00</td>
                        </tr>
                        <tr align="center">
                            <td>46456496559659</td>
                            <td>500</td>
                            <td>0.998</td>
                            <td>499</td>
                            <td>0</td>
                            <td>0</td>
                            <td>499</td>
                            <td>2017.11.11.12:00:00</td>
                        </tr>
                        <tr align="center">
                            <td>46456496559659</td>
                            <td>500</td>
                            <td>0.998</td>
                            <td>499</td>
                            <td>0</td>
                            <td>0</td>
                            <td>499</td>
                            <td>2017.11.11.12:00:00</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div class="info_page">
                    <span class="skip">跳转到 <input class="skip-num form-control">页  <span class="btn btn-skip">跳转</span></span>
                    <ul class="pagination" style="margin-top:0px; float:right;">
                        <li class="go"><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li>&nbsp;...&nbsp;</li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li class="active"><a href="#">10</a></li>
                        <li><a href="#">11</a></li>
                        <li><a href="#">12</a></li>
                        <li>&nbsp;...&nbsp;</li>
                        <li><a href="#">30</a></li>
                        <li class="go"><a href="#">»</a></li>
                    </ul>
                </div>




            </div>


            <!-- footer -->
            <div class="modal-footer" style="text-align: center">
                <button type="button" class="btn btn-default btn-primary-zy"  data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>

    //买入明细模态框
    $('.look').on('click', function () {

        modelInfo('#order_detials'); //参数一：模态框id选择器
    });

    $('.cancle_buy').on('click', function () {

        modelInfo('#cancle_modal'); //参数一：模态框id选择器
    });

    $('input.form_datetime').each(function(){//------------------日历插件
        $(this).datepicker({
            format: "yyyy-mm-dd",
            autoclose :true,
            todayBtn :true,
            minView :2,
            weekStart :1,
            linked :true
        });
    });

    //分页点击
    $('ul.pagination').find('li:not(.go)').each(function(){

        $(this).click(function(){

            jfpagechange(this);//参数为选择的当前元素
        })
    })



</script>

</body>
</html>