<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>信息导入确认</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <h2>导入信息确认</h2>
    <!--title-->
    <div class="info_middlebody">

        <%- include('../../component/welfare_market/sale_check.ejs')%>
        <!--代卖福利明细-->
        <%- include('../../component/welfare_market/check_box.ejs')%>

    </div>

   <div class="success_page_button" style="margin-top: 20px">
        <a href="../pay_info_success/pay_details.html"><button type="button" class="btn btn-primary">确认</button></a>

        <a onclick="window.history.go(-1)"><button type="button" class="btn btn-primary">取消</button></a>
    </div>

    <!--模态框1-->
    <div class="modal fade"  id="look_details_model" tabindex="-1" aria-labelledby="info_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="info_modalLabel"> 发放详情 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <!-- 模态框中的表格-->
                    <div class="table-responsive info_table">
                        <table class="table table-striped">
                            <thead>
                            <tr class="tr-zy">
                                <th>员工姓名</th>
                                <th>代提账号</th>
                                <th>开户行名称</th>
                                <th>开户行所在省份</th>
                                <th>开户行所在城市</th>
                                <th>金额（元）</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr align="center">
                                <td>小李</td>
                                <td>625615251483215861552</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>100</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>625615251483215861552</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>100</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>625615251483215861552</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>100</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>625615251483215861552</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>100</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>625615251483215861552</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>100</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>625615251483215861552</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>100</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>625615251483215861552</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>100</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>625615251483215861552</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>100</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>625615251483215861552</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>100</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>625615251483215861552</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>100</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>625615251483215861552</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>100</td>
                            </tr>
                            <tr align="center">
                                <td>小李</td>
                                <td>625615251483215861552</td>
                                <td>工商银行</td>
                                <td>上海</td>
                                <td>上海市</td>
                                <td>100</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-zy model-change1" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>
    $('.sell_welfare_details').on('click', function () {

        modelInfo('#look_details_model'); //参数一：模态框id选择器
    });
</script>
</body>
</html>