<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>VIP信息导入</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <h2>福利代卖</h2>
    <!--title-->
    <div class="info_middlebody">
        <div class="import_content">
            <div>
                <div class="content_top">
                    <h4 class="text-left">信息导入</h4>
                    <p class="text-left">1、下载嘉福模板，根据模板中的批注，填写VIP数据 <button  class="welfare_release_downbtn">下载模板</button></p>
                    <p class="text-left">2、上传填写后的数据文件<a href="#" class="file"><input type="file" class="welfare_release_upbtn" >上传文件</a></p>
                </div>
                <div class="content_mid">
                    <h4 class="text-left">导入说明</h4>
                    <p class="text-left">1、单次最多提交500笔</p>
                    <p class="text-left">2、单笔金额必须介于1.00元（含）到500,000.00元（含）之间</p>
                    <p class="text-left">4、手续费：1.0%</p>
                </div>
            </div>
            <div class="control-title">
                <div><span><a href="sale_check.html"><button type="submit" class="btn btn-primary btn-zy btn-modeltwo">开始导入</button></a></span>
                </div>
                <div></div>
            </div>
        </div>
        <div class="import_pic">
            <div class="main_pic">
                <img src="../../icon/icon_vip_line.png">
            </div>


                <div class="cirlceone">
                    <span class="text">自动匹配员工信息</span>
                    <span class="one cirlce">01</span>
                </div>
                <div class="cirlcetwo">
                    <span class="text">极速分配福利额度</span>
                    <span class="two cirlce">02</span>
                </div>
                <div class="cirlcethree">
                    <span class="cirlce three">03</span>
                    <span class="text">智能撮合交易</span>
                </div>
                <div class="cirlcefour">
                    <span class="cirlce four">04</span>
                    <span class="text">实时获得收益</span>
                </div>


        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
</body>
</html>