


<div class="success_page_button">
    <a href="<%=oneurl%>"><button type="button" class="btn btn-primary"><%=btntextone%></button></a>

    <a href="<%=twourl%>"><button type="button" class="btn btn-primary"><%=btntexttwo%></button></a>
</div>