<div class="success_page_button">
    <a href="#"><button type="button" class="btn btn-primary">查看订单</button></a>

    <a href="#"><button type="button" class="btn btn-primary">返回商城首页</button></a>
</div>