

<div class="smodal_content">

    <div class="info_content modal22">
        <span></span>
            <span>
                  <a href="<%=hrefone%>"><button type="button" class="btn btn-primary release_confirm_btn"><%=btntextone%></button></a>
                 <a href="<%=hreftwo%>"><button type="button" class="btn btn-primary release_confirm_btn"><%=btntexttwo%></button></a>
            </span>
    </div>

</div>