<div class="control-title">
    <a  href="<%=hrefone%>" class="twoleft_btn"><button type="submit" class="btn btn-primary btn-zy"><%=btntextone%></button></a>
    <a href="<%=hreftwo%>" class="twoleft_btn"><button type="submit" class="btn btn-primary btn-zy"><%=btntexttwo%></button></a>
</div>