<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>批量导入</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <h2>福利发放</h2>
    <!--title-->
    <div class="info_middlebody" style="margin-left: 0">
            <div class="import_content" style="display: block">
                    <div class="content_top" style="margin-top: 30px">
                        <h4 class="text-left">福利信息导入</h4>
                        <p class="text-left"><span>1、下载嘉福模板，根据提示填写福利数据</span><button  class="welfare_release_downbtn">下载附件</button></p>
                        <p class="text-left"><span>2、上传填写后的数据文件</span><a href="#" class="file"><input type="file" class="welfare_release_upbtn" >上传文件</a></p>
                    </div>
                    <div class="content_mid" style="margin-top: 30px">
                        <h4 class="text-left">导入说明</h4>
                        <p class="text-left">1、员工姓名、邮箱、充值金额为必填</p>
                        <p class="text-left">2、单笔充值金额最低为0.01元，最高为9,999,999.99</p>
                        <p class="text-left">3、文件大小不能超过2M</p>
                        <p class="text-left">4、每次最多导入500条福利信息</p>
                    </div>
                </div>
                <div class="control-title">
                    <div>
                        <span>
                        <a href="release_comfirm.html"><button type="submit" class="btn btn-primary btn-zy">开始导入</button></a>
                        </span>
                    </div>
                    <div></div>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
</body>
</html>