<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>转入申请</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>填写信息</h2>

    <!--内容-->
    <div class="info_middlebody" style="margin-left: 0">
        <!--中间内容-->
            <div class="smodal_content">
                <div class=" info_content modal22">
                    <span >出账账号：</span>
                    <span >嘉福企业账户1000000000@jia-fu.cn</span>
                </div>
            </div>
            <div class="smodal_content">
                <div class=" info_content modal22">
                    <span >转入资金（元）：</span>
                            <span >
                                <input type="tel" class="form-control btn-md-zy11" placeholder="请输入金额" />
                                 <span class="login_help" style="">当前帐户余额456.34元，产品剩余可购额度：67890.00元</span>
                                 <span class="login_help" style="color: #FF4646;">预计12月20日开始计息、12月21日首次发息</span>
                            </span>
                </div>
            </div>
            <div class="smodal_content">
                <div class=" info_content modal22">
                    <span></span>
                            <span>

                                 <a href="money_into_success.html"><button type="button" class="btn btn-primary release_confirm_btn">提交申请</button></a>

                                 <a onclick="window.history.go(-1)"><button type="button" class="btn btn-primary release_confirm_btn">取消</button></a>

                            </span>
                </div>
            </div>


    </div>
    <!--底部按钮-->
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
</body>
</html>