<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>转入申请</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--内容111-->
    <div class="info_middlebody" style="margin-left: 0">
        <div class="weui_icon_area" style="margin-bottom:0px;">
            <div class="swal2-icon swal2-success animate"><span class="line tip animate-success-tip"></span> <span
                    class="line long animate-success-long"></span>
                <div class="placeholder"></div>
                <div class="fix"></div>
            </div>
        </div>
        <div class="success_page">
            <h2>转入申请提交成功</h2>
            <div class="schedule_area">
                <!-- part 1-->
                <div class="part">
                    <!--cricle-->
                    <div class="part_circle"><a></a></div><!--已完成用part_circle这个div-->
                    <div class="row1">
                        <p>2016.11.25</p>
                    </div>
                    <div class="row2">
                        <p>转入申请提交成功</p>
                    </div>
                </div>
                <!--line-->
                <div class="sucess_line"></div>
                <!-- part 2-->
                <div class="part">
                    <!--cricle-->
                    <div class="part_circle progressive">2</div><!--进行时加上progressive这个div-->
                    <div class="row1">
                        <p>2016.11.25</p>
                    </div>
                    <div class="row2">
                        <p>审核转入申请</p>
                    </div>
                </div>
                <!--line-->
                <div class="sucess_line gray"></div><!-- 未完成的进度条 加gary-->
                <!-- part 3-->
                <div class="part">
                    <!--cricle-->
                    <div class="part_circle gray_cricle">3</div><!--未完成用gray_cricle这个div-->
                    <div class="row1">
                        <p>2016.11.25</p>
                    </div>
                    <div class="row2">
                        <p>开始计息</p>
                    </div>
                </div>
                <!--line-->
                <div class="sucess_line gray"></div>
                <!-- part 4-->
                <div class="part">
                    <!--cricle-->
                    <div class="part_circle gray_cricle">4</div>
                    <div class="row1">
                        <p>2016.11.25</p>
                    </div>
                    <div class="row2">
                        <p>发放首次收益</p>
                    </div>
                </div>
            </div>
            <div class="success_page_button"><div class="error_500">
            <div class="error_404_btn_d">
            <a href="financing_main.html"><button class="btn btn-primary error_btn">查看转入记录</button></a>
        </div>
        <div class="error_404_btn_d">
            <a href="financing_main.html"><button class="btn btn-primary error_btn">返回上一页</button></a>
        </div>
        </div></div>
        </div>
        <!--底部按钮-->
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
</body>
</html>