<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>管理员信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>管理员信息</h2>

    <div class="info_middlebody">
        <!-- 一排2个组件-->
        <div class="control-title" style="margin-bottom: 30px">
            <div>
                <span class="admin_kongge">管理员：</span>
                <span>
                    <input type="text" class="form-control form-control-zy"placeholder="小明" id="admin_input_Validatet"   >
                </span>
            </div>
            <div>
                <span>
                        <button type="submit" class="btn btn-primary btn-zy btn-qd" id="adminsave_modelloading">保存</button>
                </span>
            </div>
        </div>
        <div class="control-title">
            <div >
                <span class="admin_phone">管理员手机：</span>
                <span ><span class="form-control-zy">1376****225</span></span>
            </div>
            <div>
                <span>
                        <button type="submit" class="btn btn-primary btn-zy btn-qd nextmodel1" id="phonenumber_xiugai">修改</button>
                </span>
            </div>
        </div>
    </div>


    <!--模态框1-->
    <div class="modal fade"  id="info_xiugai" tabindex="-1" aria-labelledby="info_xiugaiLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="info_xiugaiLabel"> 管理员手机号修改 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <!--模态框组件-->
                    <div class="smodal_content">
                        <div class=" info_content modal22">
                            <span >原管理员手机号：</span>
                            <span>1362****225</span>
                        </div>
                    </div>
                    <div class="smodal_content">
                        <div class="info_content modal22">
                            <span >原手机验证码：</span>
                            <span >
                                <input type="text" class="form-control btn-md-zy" />
                                <button type="button" class="btn btn-primary input-group-addon getmessage" style="text-align: center;font-size: 12px">点击获取</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-zy model-change1 admininfo_nextmodel1" data-dismiss="modal" >下一步</button>
                    <button type="button" class="btn btn-default"  data-dismiss="modal">退出</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade"  id="newtelephone" tabindex="-1" aria-labelledby="newtelephoneLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="newtelephonelLabel"> 管理员手机号修改 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <!--模态框组件-->
                    <div class="smodal_content">
                        <div class=" info_content modal22">
                            <span >新管理员手机号：</span>
                            <span >
                                <input type="text" class="form-control btn-md-zy11" />
                            </span>
                        </div>
                    </div>

                    <div class="smodal_content">
                        <div class="info_content modal22">
                            <span >新手机验证码：</span>
                            <span >
                                <input type="text" class="form-control btn-md-zy" />
                                <button type="button" class="btn btn-primary input-group-addon getmessage" style="text-align: center;font-size: 12px">点击获取</button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-zy model-change1 admininfo_nextmodel2" data-dismiss="modal" >保存</button>
                    <button type="button" class="btn btn-default "  data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal_success" tabindex="-1" aria-labelledby="modal_successLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="modal_successLabel">手机号修改</h4>
                </div>
                <!-- body-->
                <div class="modal-body" >
                    <div class="title-success">
                        <div class="swal2-icon swal2-success animate">
                            <span class="line tip animate-success-tip"></span>
                            <span class="line long animate-success-long"></span>
                            <div class="placeholder"></div>
                            <div class="fix"></div>
                        </div>
                        <div class="wenan-zy">修改成功！</div>
                    </div>
                    <!-- footer -->
                    <div class="modal-footer" style="text-align:center;">
                        <button type="button" class="btn btn-primary btn-primary-zy  model-change1" data-dismiss="modal">确认</button>
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>
    //--------------文本框输入验证（以管理员信息页面为例）
    $("#admin_input_Validatet").on({

        //-----------change事件出现提示信息
        change: function () {

            jfValidateInput.validateWrong(this, '输入错误');//参数一为选取的该元素，参数二为出现的提示信息
        },

        //-----------再次焦点事件提示信息删除
        focus: function () {
            jfValidateInput.validateRemove(this);//参数为选取的该元素
        }
    });

    //loading以及success模态框弹出(（以管理员信息页面为例）)

    $('#adminsave_modelloading').on('click', function () {

        //-----------success模态框（）
        jfModelFrame.successModelShow('加载完成', '保存成功');//参数一是模态框的标题，参数二是模态框的显示中间文本（成功或者失败）

    });


    //--------------------管理员信息页面手机号修改模态框(2个表格模态框)

    $('#phonenumber_xiugai').on('click', function(){

        admininfoModel('#info_xiugai','.admininfo_nextmodel1','#newtelephone','.admininfo_nextmodel2');//参数一第一个模态框ID选择器，参数二第一个模态框关闭按钮选择器，参数三第二个模态框ID选择器，参数二第二个模态框关闭按钮选择器

    });

    //-----------------点击获取手机验证码
     $('button.getmessage').each(function () {
     $(this).on('click', function () {
     getmessage(this,60);//参数为选取的该元素
       })
     })



</script>
</body>
</html>