<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>确认电子卡订单</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <h2>确认订单信息</h2>


    <!--商品订单列表-->

    <div class="order_list">
        <p>商品清单</p>

        <!-- 表格-->
        <div class="table-responsive info_table">
            <table class="table ">
                <thead>
                <tr class="tr-zy">
                    <th>商品信息</th>
                    <th>已选</th>
                    <th>单价</th>
                    <th>数量</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <img src="../../icon/icon_card.jpg" class="pro_img">
                        <span>星礼卡 星礼卡星礼卡星礼卡星礼卡</span>
                    </td>
                    <td>
                        <p><span>面值：</span><span>350元</span></p>
                    </td>
                    <td>￥330.00</td>
                    <td>X 200</td>
                </tr>
                <tr>
                    <td>
                        <img src="../../icon/icon_card.jpg" class="pro_img">
                        <span>星礼卡 星礼卡星礼卡星礼卡星礼卡</span>
                    </td>
                    <td>
                        <p><span>面值：</span><span>350元</span></p>
                    </td>
                    <td>￥330.00</td>
                    <td>X 200</td>
                </tr>
                <tr>
                    <td colspan="4" class="total_price"><span>商品总额：</span><span class="price">￥60000.00</span></td>
                </tr>
                <tr>
                    <td colspan="4" class="tips"><span>备注：</span><input type="text" maxlength="45" placeholder="选填,仅限45个字，对本次交易的说明"></td>
                </tr>

                </tbody>
            </table>
        </div>

    </div>



    <!--订单总金额-->
    <div class="check_bottom order_total">
        <p>
            <span>运费：</span>
            <span>￥0.00</span>
        </p>
        <div class="order_info">
            <p>
                <span>订单总金额（含运费）</span>
                <span class="price">￥60000.00</span>
            </p>

        </div>

        <div class="submit_order">
            <a href="../pay_info_success/pay_success.html">提交订单</a>
        </div>

    </div>




</div>




<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>







</script>

</body>
</html>