<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>电子卡订单</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <h2>查看订单</h2>

    <!--订单详情-->
    <div class="look_order">

        <div class="order_tilte">
            <p>
                <span>订单编号：</span>
                <span>17462561285625</span>
            </p>

            <p>
                <span>订单状态：</span>
                <span>配送中</span>
            </p>

        </div>
    </div>


    <!--商品订单列表-->
    <%-include('../../component/welfare_mall/check_order/card_table.ejs')%>


    <!--订单总金额-->
    <div class="check_bottom order_total">
        <p>
            <span>运费：</span>
            <span>￥0.00</span>
        </p>
        <div class="order_info">
            <p>
                <span>订单总金额（含运费）</span>
                <span class="price">￥60000.00</span>
            </p>

        </div>

    </div>


    <!--模态框-->
    <div class="modal fade"  id="pay_info_model" tabindex="-1" aria-labelledby="pay_info_modelLabel" aria-hidden="true"  data-backdrop=”static”>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="pay_info_modelLabel">短信验证</h4>
                </div>
                <!-- body-->
                <div class="modal-body">

                    <!--模态框组件-->
                    <div class="smodal_content">
                        <div class=" info_content">
                            <p class="pay_model_pp">
                                为保障安全，当前交易需进行短信验证
                            </p>
                            <p class="pay_model_pp">
                                短信验证码已经发送到手机：<span>158*****250</span>
                            </p>
                        </div>
                    </div>

                    <div class="smodal_content">
                        <div class="info_content">
                            <p class="pay_model_pp" style="padding-right: 65px">
                                <input type="text" class="form-control btn-md-zy" />
                                <button type="button" class="btn btn-primary input-group-addon getmessage " style="text-align: center;font-size: 12px">点击获取</button>
                            </p>

                        </div>
                    </div>

                    <%- include('../../component/basic/voice_code.ejs')%>

                    <div class="smodal_content">
                        <div class=" info_content">
                            <p class="pay_model_pp">
                                如果收不到验证码，请拨打 <span style="color: #3498db;">400-821-699</span>
                            </p>

                        </div>
                    </div>

                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-primary-zy model-change1 edit_close">确认</button>
                        <button type="button" class="btn btn-default"  data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>




<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>

<script>
    $('.download_pasd').on('click', function () {

        modelInfo('#pay_info_model'); //参数一：模态框id选择器
    });



    $('button.getmessage').on('click', function () {
        getmessage(this,60);//参数表示选择的该元素
    });

</script>

</body>
</html>