.info_content.certificate{

  span{
    &:last-child{
      a{
        &:last-child{
          color: grey;
          text-decoration: underline;
          margin-left: 5px;
          cursor: pointer;

          img{
            width: 20px;
            margin-left: 5px;
          }
        }
      }

      span{
        img{
          width: 20px;
        }
      }
    }


  }

}