
<div class="weui_icon_area" style="margin-bottom:0px;">
    <div class="swal2-icon swal2-success animate"> <span class="line tip animate-success-tip"></span> <span class="line long animate-success-long"></span>
        <div class="placeholder"></div>
        <div class="fix"></div>
    </div>
</div>

<div class="success_page">
    <h2><%=title%></h2>
</div>