<div class="navbar navbar-default navbar-static-top jf_topnav">
    <div class="nav_container">
        <div class="left_logo">
            <div><img src="../../icon/jiafu_logo.png"></div>
            <div>嘉福企业注册</div>
        </div>

        <div class="right_service">
            <div><img src="../../icon/icon_customer_service.png"></div>
            <div>客服</div>
        </div>

    </div>
</div>