<p class="show_voice_code">收不到验证码？可获取<span class="voice_code"> 语音验证码</span></p>



<script>
    //语言验证码
    document.getElementsByClassName('voice_code')[0].addEventListener('click',function(){
        jfModelFrame.successModelShow('语音验证码','语言验证码已发送，请注意接听。','');//参数一是模态框的标题，参数二是模态框的显示中间文本（成功或者失败），参数三是详细信息
    },false)
</script>
