<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>企业转账确认</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>额度转让到其他企业</h2>
    <!--内容111-->
    <div class="info_middlebody">

        <div class="info_content">
            <span></span>
            <span>
                 <a><button type="button" class="btn btn-primary release_confirm_btn">额度转让</button></a>
                 <a><button type="button" class="btn btn-primary release_confirm_btn">额度转让查询</button></a>
            </span>
        </div>

        <div class="info_content">
            <span></span>
            <span>
                 <a><button type="button" class="btn btn-primary release_confirm_btn">基本信息</button></a>
                 <a><button type="button" class="btn btn-primary release_confirm_btn">账户安全管理</button></a>
            </span>
        </div>

        <div class="info_content">
            <a><button type="button" class="btn btn-primary release_confirm_btn">员工管理</button></a>
            <a><button type="button" class="btn btn-primary release_confirm_btn">员工查询</button></a>
        </div>


<div class="info_content">
    <a><button type="button" class="btn btn-primary release_confirm_btn">福利发放</button></a>
    <a><button type="button" class="btn btn-primary release_confirm_btn">福利发放查询</button></a>
</div>

        <div class="info_content">

            <a><button type="button" class="btn btn-primary release_confirm_btn">VIP卡回收</button></a>
            <a><button type="button" class="btn btn-primary release_confirm_btn">VIP卡回收查询</button></a>
        </div>
        <div class="info_content">
            <a><button type="button" class="btn btn-primary release_confirm_btn">测试</button></a>
            <a><button type="button" class="btn btn-primary release_confirm_btn">企业充值明细</button></a>
        </div>
        <div class="info_content">

            <a><button type="button" class="btn btn-primary release_confirm_btn">企业消费明细</button></a>
            <a><button type="button" class="btn btn-primary release_confirm_btn">员工消费明细</button></a>
        </div>


        <a><button type="button" class="btn btn-primary release_confirm_btn" style="margin-top: 20px">企业消费明细</button></a>
        <a><button type="button" class="btn btn-primary release_confirm_btn testbtn" style="margin-top: 20px">员工消费明细</button></a>

    </div>

</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>

    $('.info_content button').on('click',function () {
        var thisInnerHtml=$(this).html().replace(/\s/g,"");

        window.parent.deleteselectTab(thisInnerHtml);//点击某个按钮实现，页面删除
    })



    $('.testbtn').on('click',function(){//以员工消费明细为例

        var thisInnerHtml=$(this).html().replace(/\s/g,"");

        window.parent.selectLeftTabone(thisInnerHtml,'html/Staff_Expense_data/Staff_expense_data.html');//页面重新加载
    })



</script>
</body>
</html>