<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>转出申请</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--内容111-->
    <div class="info_middlebody" style="margin-left: 0">
        <div class="weui_icon_area" style="margin-bottom:0px;">
            <div class="swal2-icon swal2-success animate"><span class="line tip animate-success-tip"></span> <span
                    class="line long animate-success-long"></span>
                <div class="placeholder"></div>
                <div class="fix"></div>
            </div>
        </div>
        <div class="success_page">
            <h2>转让成功</h2>
            <div class="error_500">
                <div class="error_404_btn_d">
                    <a><button class="btn btn-primary error_btn" onClick='window.parent.selectLeftTabone("额度转让查询","html/Company_account_management/transfer_out_lookup.html")'>查看订单</button></a>
                    <div class="error_404_btn_d">
                        <a href="open_accounts.html"><button class="btn btn-primary error_btn">返回首页</button></a>
                    </div>
                </div>
            </div>
            <!--底部按钮-->
        </div>
    </div>
    </div>
    <script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/BusinessService.min.js"></script>
</body>
</html>