<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>额度转让明细查询</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>额度转让明细查询
            <div>
                <a><button class="release_record_tabbtn1 transfer_in_btn"><span></span><span>转入明细</span></button></a>
                <a><button class="release_record_tabbtn22 transfer_out_btn"><span></span><span>转出明细</span></button></a>
            </div>
    </h2>
<div class="transfer_in_page">
    <div class="info_middlebody" style="margin-left: 0">

        <!-- 一排多个组件-->
        <div class="control-title">
            <div>
                <span>订单号：</span>
                <span>
                    <input type="text" class="form-control form-control-zy" placeholder="请输入订单号" >
                </span>
            </div>
            <div>
                <span class="account_jiaoyi" >订单状态：</span>
                <span>
                    <select class="form-control  form-control-zy" >
                        <option value="待处理" selected="selected">全部</option>
                        <option value="待处理">成功</option>
                        <option value="待处理">失败</option>
                    </select>
                    </span>
            </div>

        </div>

        <div class="control-title">
            <div style="width: 100%">
                <span>对方企业识别号：</span>
                <span>
                    <input type="text" class="form-control form-control-zy" placeholder="请输入对方企业识别号" >
                </span>
            </div>



        </div>


        <div class="control-title">
            <div style="width: 100%">
                <span >订单时间：</span>
                <span>
                     <input size="16" type="text" value="2016-06-15" readonly class="form_datetime form-control form-control-zy1">
                    至
                    <input size="16" type="text" value="2016-06-15" readonly class="form_datetime form-control form-control-zy1" >
                </span>
            </div>
            <div></div>
        </div>

        <div class="control-title">
            <div style="width: 100%">
                <span>&nbsp;&nbsp;&nbsp;对方企业名称：</span>
                <span>
                    <input type="text" class="form-control form-control-zy" placeholder="请输入对方企业名称" >
                </span>
            </div>
        </div>

        <div class="control-title">
            <div>
                <span></span>
                <span >
                        <button type="button" class="btn btn-primary btn-zyone">导出数据</button>
                </span>
            </div>
            <div>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="control-title">
            <div>
                <span></span>
                <span></span>
            </div>
            <div>
                <span></span>
                <span>
                        <a href="../error/404.html"><button type="button" class="btn btn-primary btn-zyone">查询</button></a>
                </span>
            </div>
        </div>
    </div>
    <div class="table-responsive info_table">
        <table class="table table-striped">
            <thead>
            <tr class="tr-zy">
                <th>订单号</th>
                <th>对方企业识别号</th>
                <th>对方企业名称</th>
                <th>转让金额（元）</th>
                <th>转让说明</th>
                <th>订单状态</th>
                <th>订单时间</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center">
                <td>4623196845615</td>
                <td>DTR14561436</td>
                <td>上海淘略数据处理有限公司</td>
                <td>500，500,.00</td>
                <td>VIP订单</td>
                <td>成功</td>
                <td>2016.12.12 12:32：23</td>
            </tr>
            <tr align="center">
                <td>4623196845615</td>
                <td>DTR14561436</td>
                <td>上海淘略数据处理有限公司</td>
                <td>500，500,.00</td>
                <td>VIP订单</td>
                <td>成功</td>
                <td>2016.12.12 12:32：23</td>
            </tr>
            <tr align="center">
                <td>4623196845615</td>
                <td>DTR14561436</td>
                <td>上海淘略数据处理有限公司</td>
                <td>500，500,.00</td>
                <td>VIP订单</td>
                <td>成功</td>
                <td>2016.12.12 12:32：23</td>
            </tr>
            <tr align="center">
                <td>4623196845615</td>
                <td>DTR14561436</td>
                <td>上海淘略数据处理有限公司</td>
                <td>500，500,.00</td>
                <td>VIP订单</td>
                <td>成功</td>
                <td>2016.12.12 12:32：23</td>
            </tr>
            <tr align="center">
                <td>4623196845615</td>
                <td>DTR14561436</td>
                <td>上海淘略数据处理有限公司</td>
                <td>500，500,.00</td>
                <td>VIP订单</td>
                <td>成功</td>
                <td>2016.12.12 12:32：23</td>
            </tr>
            <tr align="center">
                <td>4623196845615</td>
                <td>DTR14561436</td>
                <td>上海淘略数据处理有限公司</td>
                <td>500，500,.00</td>
                <td>VIP订单</td>
                <td>成功</td>
                <td>2016.12.12 12:32：23</td>
            </tr>
            <tr align="center">
                <td>4623196845615</td>
                <td>DTR14561436</td>
                <td>上海淘略数据处理有限公司</td>
                <td>500，500,.00</td>
                <td>VIP订单</td>
                <td>成功</td>
                <td>2016.12.12 12:32：23</td>
            </tr>
            <tr align="center">
                <td>4623196845615</td>
                <td>DTR14561436</td>
                <td>上海淘略数据处理有限公司</td>
                <td>500，500,.00</td>
                <td>VIP订单</td>
                <td>成功</td>
                <td>2016.12.12 12:32：23</td>
            </tr>
            <tr align="center">
                <td>4623196845615</td>
                <td>DTR14561436</td>
                <td>上海淘略数据处理有限公司</td>
                <td>500，500,.00</td>
                <td>VIP订单</td>
                <td>成功</td>
                <td>2016.12.12 12:32：23</td>
            </tr>
            <tr align="center">
                <td>4623196845615</td>
                <td>DTR14561436</td>
                <td>上海淘略数据处理有限公司</td>
                <td>500，500,.00</td>
                <td>VIP订单</td>
                <td>成功</td>
                <td>2016.12.12 12:32：23</td>
            </tr>

            </tbody>
        </table>
    </div>
    <div class="info_page">
        <span class="skip">跳转到 <input class="skip-num form-control">页  <span class="btn btn-skip">跳转</span></span>
        <ul class="pagination" style="margin-top:0px; float:right;">
            <li class="go"><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li>&nbsp;...&nbsp;</li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="active"><a href="#">10</a></li>
            <li><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li>&nbsp;...&nbsp;</li>
            <li><a href="#">30</a></li>
            <li class="go"><a href="#">»</a></li>
        </ul>
    </div>
</div>

    <div class="transfer_out_page">
        <div class="info_middlebody" style="margin-left: 0">

            <!-- 一排多个组件-->
            <div class="control-title">
                <div>
                    <span>订单号：</span>
                <span>
                    <input type="text" class="form-control form-control-zy" placeholder="请输入订单号" >
                </span>
                </div>
                <div>
                    <span class="account_jiaoyi" >订单状态：</span>
                <span>
                    <select class="form-control  form-control-zy" >
                        <option value="待处理" selected="selected">全部</option>
                        <option value="待处理">成功</option>
                        <option value="待处理">失败</option>
                    </select>
                    </span>
                </div>

            </div>

            <div class="control-title">
                <div style="width: 100%">
                    <span>对方企业识别号：</span>
                <span>
                    <input type="text" class="form-control form-control-zy" placeholder="请输入对方企业识别号" >
                </span>
                </div>



            </div>


            <div class="control-title">
                <div style="width: 100%">
                    <span >订单时间：</span>
                <span>
                     <input size="16" type="text" value="2016-06-15" readonly class="form_datetime form-control form-control-zy1">
                    至
                    <input size="16" type="text" value="2016-06-15" readonly class="form_datetime form-control form-control-zy1" >
                </span>
                </div>
                <div></div>
            </div>

            <div class="control-title">
                <div style="width: 100%">
                    <span>&nbsp;&nbsp;&nbsp;对方企业名称：</span>
                <span>
                    <input type="text" class="form-control form-control-zy" placeholder="请输入对方企业名称" >
                </span>
                </div>
            </div>

            <div class="control-title">
                <div>
                    <span></span>
                <span >
                        <button type="button" class="btn btn-primary btn-zyone">导出数据</button>
                </span>
                </div>
                <div>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="control-title">
                <div>
                    <span></span>
                    <span></span>
                </div>
                <div>
                    <span></span>
                <span>
                        <a href="../error/404.html"><button type="button" class="btn btn-primary btn-zyone">查询</button></a>
                </span>
                </div>
            </div>
        </div>
        <div class="table-responsive info_table">
            <table class="table table-striped">
                <thead>
                <tr class="tr-zy">
                    <th>订单号</th>
                    <th>对方企业识别号</th>
                    <th>对方企业名称</th>
                    <th>转让金额（元）</th>
                    <th>转让说明</th>
                    <th>订单状态</th>
                    <th>订单时间</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center">
                    <td>4623196845615</td>
                    <td>DTR14561436</td>
                    <td>上海淘略数据处理有限公司</td>
                    <td>500，500,.00</td>
                    <td>VIP订单</td>
                    <td>成功</td>
                    <td>2016.12.12 12:32：23</td>
                </tr>
                <tr align="center">
                    <td>4623196845615</td>
                    <td>DTR14561436</td>
                    <td>上海淘略数据处理有限公司</td>
                    <td>500，500,.00</td>
                    <td>VIP订单</td>
                    <td>成功</td>
                    <td>2016.12.12 12:32：23</td>
                </tr>
                <tr align="center">
                    <td>4623196845615</td>
                    <td>DTR14561436</td>
                    <td>上海淘略数据处理有限公司</td>
                    <td>500，500,.00</td>
                    <td>VIP订单</td>
                    <td>成功</td>
                    <td>2016.12.12 12:32：23</td>
                </tr>
                <tr align="center">
                    <td>4623196845615</td>
                    <td>DTR14561436</td>
                    <td>上海淘略数据处理有限公司</td>
                    <td>500，500,.00</td>
                    <td>VIP订单</td>
                    <td>成功</td>
                    <td>2016.12.12 12:32：23</td>
                </tr>
                <tr align="center">
                    <td>4623196845615</td>
                    <td>DTR14561436</td>
                    <td>上海淘略数据处理有限公司</td>
                    <td>500，500,.00</td>
                    <td>VIP订单</td>
                    <td>成功</td>
                    <td>2016.12.12 12:32：23</td>
                </tr>
                <tr align="center">
                    <td>4623196845615</td>
                    <td>DTR14561436</td>
                    <td>上海淘略数据处理有限公司</td>
                    <td>500，500,.00</td>
                    <td>VIP订单</td>
                    <td>成功</td>
                    <td>2016.12.12 12:32：23</td>
                </tr>
                <tr align="center">
                    <td>4623196845615</td>
                    <td>DTR14561436</td>
                    <td>上海淘略数据处理有限公司</td>
                    <td>500，500,.00</td>
                    <td>VIP订单</td>
                    <td>成功</td>
                    <td>2016.12.12 12:32：23</td>
                </tr>
                <tr align="center">
                    <td>4623196845615</td>
                    <td>DTR14561436</td>
                    <td>上海淘略数据处理有限公司</td>
                    <td>500，500,.00</td>
                    <td>VIP订单</td>
                    <td>成功</td>
                    <td>2016.12.12 12:32：23</td>
                </tr>
                <tr align="center">
                    <td>4623196845615</td>
                    <td>DTR14561436</td>
                    <td>上海淘略数据处理有限公司</td>
                    <td>500，500,.00</td>
                    <td>VIP订单</td>
                    <td>成功</td>
                    <td>2016.12.12 12:32：23</td>
                </tr>
                <tr align="center">
                    <td>4623196845615</td>
                    <td>DTR14561436</td>
                    <td>上海淘略数据处理有限公司</td>
                    <td>500，500,.00</td>
                    <td>VIP订单</td>
                    <td>成功</td>
                    <td>2016.12.12 12:32：23</td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="info_page">
            <span class="skip">跳转到 <input class="skip-num form-control">页  <span class="btn btn-skip">跳转</span></span>
            <ul class="pagination" style="margin-top:0px; float:right;">
                <li class="go"><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li>&nbsp;...&nbsp;</li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li class="active"><a href="#">10</a></li>
                <li><a href="#">11</a></li>
                <li><a href="#">12</a></li>
                <li>&nbsp;...&nbsp;</li>
                <li><a href="#">30</a></li>
                <li class="go"><a href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>

    $('input.form_datetime').each(function(){//------------------日历插件
        $(this).datepicker({
            format: "yyyy-mm-dd",
            autoclose :true,
            todayBtn :true,
            minView :2,
            weekStart :1,
            linked :true
        });
    });

    $('ul.pagination').find('li:not(.go)').each(function(){

        $(this).click(function(){

            jfpagechange(this);//参数为选择的当前元素
        })
    })


</script>
</body>
</html>