<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>转出申请</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--内容111-->
    <div class="info_middlebody" style="margin-left: 0">
        <div class="weui_icon_area" style="margin-bottom:0px;">
            <div class="swal2-icon swal2-success animate"><span class="line tip animate-success-tip"></span> <span
                    class="line long animate-success-long"></span>
                <div class="placeholder"></div>
                <div class="fix"></div>
            </div>
        </div>
        <div class="success_page">
            <h2 style="margin-bottom: 10px">提交成功,系统处理中！</h2>

            <div class="success_page_pp">
                <p></p>
            </div>

            <div class="success_page_button">
                <a><button type="button" class="btn btn-primary" onclick="window.parent.selectLeftTab('企业转账查询')">查看订单</button></a>

                <a href="open_accounts.html"><button type="button" class="btn btn-primary">返回首页</button></a>
            </div>

            <!--底部按钮-->
        </div>
    </div>
    </div>
    <script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/BusinessService.min.js"></script>
</body>
</html>