<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/component.css">
    <link rel="stylesheet" href="../../css/newcomponent.css">

    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>发放详情</title>



</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>发放详情
        <div>
            <a href="new_release_record.html" class="show_details">返回发放记录</a>
        </div>

    </h2>
    <!--内容111-->
    <div class="info_middlebody" style="margin-left: 0">

        <!-- 一排多个组件-->
        <div class="control-title">
            <div>
                <span>员工姓名：</span>
                <span>
                    <input type="text" class="form-control form-control-zy" placeholder="输入员工姓名">
                </span>
            </div>
            <div>
                <span>邮箱：</span>
                <span>
                    <input type="text" class="form-control form-control-zy" placeholder="输入邮箱地址">
                </span>
            </div>
        </div>

        <div class="control-title">

            <div>
                <span>员工编号：</span>
                <span>
                    <input type="text" class="form-control form-control-zy" placeholder="输入手机号码">
                </span>
            </div>
            <div>
                <span></span>
                <span></span>
            </div>

        </div>


        <div class="control-title">
            <div>
                <span>发放状态：</span>
                <span>
                    <select class="form-control  form-control-zy ">
                        <option selected="selected">全部</option>
                        <option>处理成功</option>
                        <option>处理失败</option>
                    </select>
                    </span>
            </div>
            <div>
                <span>发放账户：</span>
                <span>
                    <select class="form-control  form-control-zy ">
                        <option selected="selected">全部</option>
                        <option>福利账户</option>
                        <option>现金账户</option>
                    </select>
                </span>
            </div>
        </div>


        <div class="control-title">
            <div style="width: 100%">
                <span>发放时间：</span>
                <span>
                     <input size="16" type="text" value="2016-06-15" readonly class="form_datetime form-control form-control-zy1">
                    至
                    <input size="16" type="text" value="2016-06-18" readonly class="form_datetime form-control form-control-zy1">
                </span>
            </div>
        </div>


        <div class="control-title">
            <div>
                <span></span>
                 <span>
                      <button type="submit" class="btn btn-primary lookup_btn2 edit">导出数据</button>
                 </span>
            </div>
            <div>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="control-title">
            <div>
                <span></span>
                <span></span>
            </div>
            <div>
                <span></span>
                 <span>
                      <button type="submit" class="btn btn-primary lookup_btn2">查询</button>
                 </span>
            </div>
        </div>
    </div>

    <!-- 表格-->
    <div class="table-responsive info_table">
        <table class="table table-striped">
            <thead>
            <tr class="tr-zy">

                <th>员工编号</th>
                <th>员工姓名</th>
                <th>邮箱</th>
                <th>发放账户</th>
                <th>发放金额（元）</th>
                <th>返利金额（元）</th>
                <th>发放状态</th>
                <th>发放时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>100003432</td>
                <td>小明</td>
                <td>123@163.com</td>
                <td>福利账户</td>
                <td>10,000</td>
                <td>100</td>
                <td>处理成功</td>
                <td>2016.12.12 18:00:00</td>
            </tr>
            <tr>
                <td>100003432</td>
                <td>小明</td>
                <td>123@163.com</td>
                <td>现金账户</td>
                <td>10,000</td>
                <td>100</td>
                <td>处理成功</td>
                <td>2016.12.12 18:00:00</td>
            </tr>
            <tr>
                <td>100003432</td>
                <td>小明</td>
                <td>123@163.com</td>
                <td>福利账户</td>
                <td>10,000</td>
                <td>100</td>
                <td>处理成功</td>
                <td>2016.12.12 18:00:00</td>
            </tr>
            <tr>
                <td>100003432</td>
                <td>小明</td>
                <td>123@163.com</td>
                <td>现金账户</td>
                <td>10,000</td>
                <td>100</td>
                <td>处理失败</td>
                <td>2016.12.12 18:00:00</td>
            </tr>
            <tr>
                <td>100003432</td>
                <td>小明</td>
                <td>123@163.com</td>
                <td>福利账户</td>
                <td>10,000</td>
                <td>100</td>
                <td>待付款</td>
                <td>2016.12.12 18:00:00</td>
            </tr>
            <tr>
                <td>100003432</td>
                <td>小明</td>
                <td>123@163.com</td>
                <td>福利账户</td>
                <td>10,000</td>
                <td>100</td>
                <td>处理成功</td>
                <td>2016.12.12 18:00:00</td>
            </tr>
            <tr>
                <td>100003432</td>
                <td>小明</td>
                <td>123@163.com</td>
                <td>福利账户</td>
                <td>10,000</td>
                <td>100</td>
                <td>处理成功</td>
                <td>2016.12.12 18:00:00</td>
            </tr>
            <tr>
                <td>100003432</td>
                <td>小明</td>
                <td>123@163.com</td>
                <td>福利账户</td>
                <td>10,000</td>
                <td>100</td>
                <td>处理成功</td>
                <td>2016.12.12 18:00:00</td>
            </tr>
            <tr>
                <td>100003432</td>
                <td>小明</td>
                <td>123@163.com</td>
                <td>福利账户</td>
                <td>10,000</td>
                <td>100</td>
                <td>处理成功</td>
                <td>2016.12.12 18:00:00</td>
            </tr>
            <tr>
                <td>100003432</td>
                <td>小明</td>
                <td>123@163.com</td>
                <td>福利账户</td>
                <td>10,000</td>
                <td>100</td>
                <td>处理成功</td>
                <td>2016.12.12 18:00:00</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="info_page">
        <span class="skip">跳转到 <input class="skip-num form-control">页  <span class="btn btn-skip">跳转</span></span>
        <ul class="pagination" style="margin-top:0px; float:right;">
            <li class="go"><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li>&nbsp;...&nbsp;</li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="active"><a href="#">10</a></li>
            <li><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li>&nbsp;...&nbsp;</li>
            <li><a href="#">30</a></li>
            <li class="go"><a href="#">»</a></li>
        </ul>
    </div>
</div>



<script src="../../js/jquery-3.0.0.min.js"></script>
<script src="../../js/BusinessService.js"></script>
<script>

    $('input.form_datetime').each(function(){//------------------日历插件
        $(this).datepicker({
            format: "yyyy-mm-dd",
            autoclose :true,
            todayBtn :true,
            minView :2,
            weekStart :1,
            linked :true
        });
    });

    //分页点击
    $('ul.pagination').find('li:not(.go)').each(function(){

        $(this).click(function(){

            jfpagechange(this);//参数为选择的当前元素
        })
    })





</script>
</body>
</html>