<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>账户安全信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>账户安全信息</h2>

    <div class="info_middlebody">
        <!-- 一排2个组件-->
        <div class="control-title" style="margin-bottom: 30px">
            <div class="twotwo">
                <span>登录密码：</span>
            </div>
            <div>
                <span></span>
                <span>
                        <button type="submit" class="btn btn-primary btn-zy btn-1 Account_xiugai">修改</button>
                </span>
            </div>
        </div>
        <div class="control-title ">
            <div class="twotwo" >
                <span>支付密码：</span>
            </div>
            <div>
                <span></span>
                <span>
                        <button type="submit" class="btn btn-primary btn-zy btn-1 xiugaipasd">修改</button>
                </span>
            </div>
        </div>
    </div>
    <!--模态框1-密码修改-->
    <div class="modal fade"  id="account_pasdxiugai" tabindex="-1" aria-labelledby="account_pasdxiugaiLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="account_pasdxiugaiLabel"> 登录密码修改 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <!--模态框组件-->
                    <div class="smodal_content">
                        <div class=" info_content modal22">
                            <span >旧密码：</span>
                            <span >
                                <input type="password" class="form-control btn-md-zy11" />
                            </span>
                        </div>
                    </div>

                    <div class="smodal_content">
                        <div class=" info_content modal22">
                            <span >新密码：</span>
                            <span >
                                <input type="password" class="form-control btn-md-zy11 new_password" />
                            </span>
                        </div>
                    </div>

                    <div class="smodal_content">
                        <div class=" info_content modal22">
                            <span >再次输入密码：</span>
                            <span >
                                <input type="password" class="form-control btn-md-zy11" />
                            </span>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-zy model-change1 account_loginsave"data-dismiss="modal" data-target="#Zzzdl2">保存</button>
                    <button type="button" class="btn btn-default"  data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!--模态框3-支付密码修改-->
    <div class="modal fade"  id="info_paypasd_xiugai" tabindex="-1" aria-labelledby="info_paypasd_xiugaiLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="info_paypasd_xiugaiLabel"> 支付密码修改 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <!--模态框组件-->

                    <div class="smodal_content">
                        <div class=" info_content modal22">
                            <span style="vertical-align: top;padding-top: 15px">旧密码：</span>
                            <span >
                                <input type="password" class="form-control btn-md-zy11" /><span style="font-size: 12px" class="forgetmima" id="forgetpasd"><a>忘记密码</a></span>
                            </span>
                        </div>
                    </div>
                    <div class="smodal_content">
                        <div class="info_content modal22">
                            <span >管理员手机验证码：</span>
                            <span >
                                <input type="text" class="form-control btn-md-zy" />
                                <button type="button" class="btn btn-primary input-group-addon getmessage"style="text-align:center;font-size: 12px">点击获取</button>
                            </span>
                        </div>
                    </div>

                    <div class="smodal_content">
                        <div class=" info_content modal22">
                            <span >新密码：</span>
                            <span >
                                <input type="password" class="form-control btn-md-zy11 new_password" />
                            </span>
                        </div>
                    </div>

                    <div class="smodal_content">
                        <div class=" info_content modal22">
                            <span >再次输入：</span>
                            <span >
                                <input type="password" class="form-control btn-md-zy11" />
                            </span>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-zy pasdxiugai_save" data-dismiss="modal" >保存</button>
                    <button type="button" class="btn btn-default"  data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!--模态框5-忘记密码-->
    <div class="modal fade" id="forget_pasdmodel" tabindex="-1" aria-labelledby="forget_pasdLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <!-- body-->
                <div class="modal-body" >
                    <div class="title-success">
                        <div class="wenan-zy">请联系嘉福客服！</div>
                    </div>
                    <!-- footer -->
                    <div class="modal-footer" style="text-align:center;">
                        <button type="button" class="btn btn-primary btn-primary-zy close_forgetmodel " data-dismiss="modal">关闭</button>
                        <!--<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script type="text/javascript">


   //--------------支付密码修改
    $('button.xiugaipasd').on('click', function () {

        modelInfo('#info_paypasd_xiugai');//参数一：模态框选择器
    });

    //----------------登录密码修改
   $('button.Account_xiugai').on('click', function () {

    modelInfo('#account_pasdxiugai');//参数一：模态框选择器
    });
   //-------------------忘记密码
    $('#forgetpasd').on('click', function () {
        modelInfo('#forget_pasdmodel');//参数一：模态框选择器
    });


   //-----------------点击获取手机验证码

   $('button.getmessage').on('click', function () {
       getmessage(this,60);//参数是选择的该元素
   });


   //-----------------------密码验证(第一次新密码)
   $("input.new_password").each(function () {

       $(this).on({

           //---------密码验证条出现以及识别当前密码强度
           focus: function () {

               jfPasdValidateshow(this);//参数是选择的该元素

               jfPasdValidate(this);//参数是选择的该元素
           },

           //----------密码强度
           keyup: function () {
               jfPasdValidate(this);//参数是选择的该元素
           },

           //--------密码强度移除
           blur: function () {
               PasdValidateRemove(this);//参数是选择的该元素
           }
       })
   });


</script>
</body>
</html>