<div class="child_all_plate">

    <div class="administrator_name">
        <span>管理员姓名：王刚</span>

        <div class="checkbox_font">
            <input class="many_checkbox" type="checkbox" name="layout" id="c1">
            <label for="c1">所有权限</label>
        </div>
    </div>

    <!--------------------------------企业信息--------------------------->
    <div class="blue_black">
        <div class="blue_plate">
            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c2">
                <label for="c2">企业信息</label>
            </div>
        </div>

        <div class="black_plate">
            <span></span>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c3">
                <label for="c3">基本信息</label>
            </div>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c4">
                <label for="c4">银行账户</label>
            </div>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c5">
                <label for="c5">企业地址</label>
            </div>
        </div>
    </div>

    <!--------------------------------员工信息--------------------------->
   <div class="blue_black">
        <div class="blue_plate">
            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c6">
                <label for="c6">员工信息</label>
            </div>
        </div>

        <div class="black_plate">
            <span></span>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c7">
                <label for="c7">员工信息管理</label>
            </div>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c8">
                <label for="c8">员工订单明细</label>
            </div>
        </div>
    </div>

    <!--------------------------------企业账户--------------------------->
    <div class="blue_black">
        <div class="blue_plate">
            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c9">
                <label for="c9">企业账户</label>
            </div>
        </div>

        <div class="black_plate">
            <span></span>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c0">
                <label for="c0">账户充值</label>
            </div>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c11">
                <label for="c11">企业充值订单</label>
            </div>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c12">
                <label for="c12">企业消费明细</label>
            </div>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c13">
                <label for="c13">企业账户明细</label>
            </div>
        </div>
    </div>

    <!--------------------------------员工福利--------------------------->
    <div class="blue_black">
        <div class="blue_plate">
            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c14">
                <label for="c14">员工福利</label>
            </div>
        </div>

        <div class="black_plate">
            <span></span>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c15">
                <label for="c15">福利发放</label>
            </div>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c16">
                <label for="c16">发放记录</label>
            </div>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c17">
                <label for="c17">VIP卡回收</label>
            </div>

            <div class="checkbox_font">
                <input class="many_checkbox" type="checkbox" name="layout" id="c18">
                <label for="c18">VIP卡回收查询</label>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>

    $(document).ready(function () {
        $("input#c1").click(function () {
            $(".checkbox_font").toggleClass("blue_checkcss");
        })

        var n = $(".checkbox_font").click(function () {
            
        })
    })

</script>










