<div class="child_all_plate">

    <div class="administrator_name">
        <span>管理员姓名：<span>王刚</span></span>

        <label class="checkbox_font ">
            <input class="administrator_radio all_check" type="checkbox" name="radio">

            <span>所有权限</span>
        </label>
    </div>

    <!--------------------------------企业信息--------------------------->
    <div class="blue_black">
        <div class="blue_plate">
            <label class="checkbox_font ">
                <input class="administrator_radio part_check" type="checkbox" name="radio">

                <span>企业信息</span>
            </label>
        </div>

        <div class="black_plate">
            <label class="checkbox_font ">
                <input class="administrator_radio singal_check" type="checkbox" name="radio">

                <span>基本信息</span>
            </label>

            <label class="checkbox_font">
                <input class="administrator_radio singal_check" type="checkbox" name="radio">

                <span>银行账户</span>
            </label>

            <label class="checkbox_font">
                <input class="administrator_radio singal_check" type="checkbox" name="radio">

                <span>企业地址</span>
            </label>
        </div>
    </div>

    <!--------------------------------员工信息--------------------------->
    <div class="blue_black">
        <div class="blue_plate">
            <label class="checkbox_font ">
                <input class="administrator_radio part_check" type="checkbox" name="radio">

                <span>员工信息</span>
            </label>
        </div>

        <div class="black_plate">
            <label class="checkbox_font">
                <input class="administrator_radio  singal_check" type="checkbox" name="radio">

                <span>员工信息管理</span>
            </label>

            <label class="checkbox_font">
                <input class="administrator_radio  singal_check" type="checkbox" name="radio">

                <span>员工订单明细</span>
            </label>
        </div>
    </div>

    <!--------------------------------企业账户--------------------------->
    <div class="blue_black">
        <div class="blue_plate">
            <label class="checkbox_font">
                <input class="administrator_radio  part_check" type="checkbox" name="radio">

                <span>企业账户</span>
            </label>
        </div>

        <div class="black_plate">
            <label class="checkbox_font">
                <input class="administrator_radio  singal_check" type="checkbox" name="radio">

                <span>账户充值</span>
            </label>

            <label class="checkbox_font ">
                <input class="administrator_radio singal_check" type="checkbox" name="radio">

                <span>企业充值订单</span>
            </label>

            <label class="checkbox_font ">
                <input class="administrator_radio singal_check" type="checkbox" name="radio">

                <span>企业消费明细</span>
            </label>

            <label class="checkbox_font ">
                <input class="administrator_radio singal_check" type="checkbox" name="radio">

                <span>企业账户明细</span>
            </label>
        </div>
    </div>

    <!--------------------------------员工福利--------------------------->
    <div class="blue_black">
        <div class="blue_plate">
            <label class="checkbox_font">
                <input class="administrator_radio  part_check" type="checkbox" name="radio">

                <span>员工福利</span>
            </label>
        </div>

        <div class="black_plate">
            <label class="checkbox_font ">
                <input class="administrator_radio singal_check" type="checkbox" name="radio">

                <span>福利发放</span>
            </label>

            <label class="checkbox_font ">
                <input class="administrator_radio singal_check" type="checkbox" name="radio">

                <span>发放记录</span>
            </label>

            <label class="checkbox_font">
                <input class="administrator_radio  singal_check" type="checkbox" name="radio">

                <span>VIP卡回收</span>
            </label>

            <label class="checkbox_font  ">
                <input class="administrator_radio singal_check" type="checkbox" name="radio">

                <span>VIP卡回收查询</span>
            </label>
        </div>
    </div>
</div>

<script>

    /*子管理员页面--权限设置(单选反选全选)*/

    checkBoxFn.init()


</script>











