<!DOCTYPE html>
<html lang="en" class="register_agreement_page">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>嘉福企业注册</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="register_agreement_page">


<!--协议的主体内容-->

<div class="jf_service_agreement">

    <!--协议title-->
    <h2>嘉福平台客户服务协议</h2>


    <!--协议主体-->
    <div>
        <div class="agreement_tips">
            <p> _______________（以下简称 “乙方”）是一家通过移动互联网+技 术,为企事业单位建立企业服务网络管理平台，以自身强大的 IT 研发团队,帮助广大企 业客户建立企业福利积分商城、企业专属电子积分系统、企业奖励激励系统等。乙方 整合目前国内主流的预付电子卡、旅游服务商、员工电影电子卡、网络餐饮商户、网 络健身商户、网络培训商户等涵盖员工福利的服务商，为各企事业等单位提供便捷 的、适合现代都市生活的商务服务的企业。</p>
            <p>客户（以下简称“甲方”）一经签约，客户将获得有在线账户，用户可以在嘉福 在线平台（www.jia-fu.cn）购买电子产品及服务，消费金额会从个人账户余额中作相 应扣减。乙方将为客户提供福利产品目录的管理、用户订单处理及福利产品统计和管 理报表等服务。</p>

        </div>
        <p class="representative">甲方：</p>


        <p class="representative">乙方：</p>

        <div>
            <div class="special_title">释义：</div>
            <p>1、本协议中 “乙方”，是指 或其合作并授权的下列合作_______________公司； </p>
            <p>2、本协议中“嘉福平台”（即“嘉福”），是指用以提供客户员工福利产品选择及发 放的在线平台或手机 App 或微信公众号；</p>
            <p>3、本协议中“客户”（即“甲方”），是指向乙方购买嘉福在线平台服务，并采用该 平台发放员工福利的公司或企事业单位；</p>
            <p>4、本协议中“用户”，是指在嘉福在线平台上拥有个人专用账户，并可以使用该帐户 内金额自主选择福利产品的使用者； </p>
            <p>5、本协议中“福利产品”，是指在本协议约定的嘉福在线平台上可供用户选择的多用 预付卡及不同服务提供者发行的购物卡、券等。</p>
            <p>经友好协商，双方就甲方购买乙方福利产品及使用乙方的嘉福平台事宜，达成如 下协议，以供双方信守。</p>



        </div>


        <div class="agreement_content">
            <div class="agreement_content">
                <p class="agreement_content_tilte">第一条 承诺与确认</p>
                <p>1、甲方须为一家依法设立并合法有效存续的法人/其它经济组织，具有签署和履行本 协议的完全资格与能力。</p>
                <p>2、双方确认，嘉福平台仅限于用户使用账户内余额在此平台上选择福利产品之用，不 可透支、不可兑现、不可转账。 </p>
                <p>3、 乙方保证其有权授权甲方使用嘉福平台并向甲方提供相应的产品和服务。</p>

                <p class="agreement_content_tilte">第二条 平台储值及服务购买订单</p>
                <p class="small_title">1、甲方根据其自身需求向乙方嘉福平台进行定期或不定期的储值，以达到企业员工福 利发放及管理之目的。</p>

                <p class="small_title">2、甲方购买乙方的嘉福平台服务，并愿意接受以下商业条款：</p>
                <p>1) 储值频率：不定期（由客户根据福利发放情况自行确定）；</p>
                <p>2) 服务费率：具体费率以每笔订单上的为准；</p>
                <p>3) 福利产品：各类电子卡/券，无需实物配送。</p>

                <p class="small_title">3、付款方式及流程：</p>
                <p>1) 甲乙双方约定按如下方式发放和收取甲方公司员工福利款，审核并确认该费用 后，甲方应向乙方提供书面的待充值费用明细清单，并支付相应款项。 方式：不固定周期，以每次提前 1
                    工作日事先通知乙方为准； </p>
                <p>2) 甲方在每月 1 日（或在需要充值前 1 工作日）提供当月新入职员工的详细 信息清单及离职员工清单，以便乙方 a) 为新员工创建账户，制作卡片，及 b)
                    为离职员工安排信息标识及账户注销（离职员工账户的处理详见第四条第 10 款）。第一次提供的员工清单必须在第一次发放福利款项和充值 1 个工作日 前提供； </p>
                <p>3) 乙方在收到甲方提供的新员工详细信息清单、待充值费用明细清单及付款凭证 后，在不多于 1 个工作日内完成向甲方员工开户的工作，并提供有效账户以 及初始密码，同时为甲方开具相应的服务业发票；</p>
                <p>4) 开户完成后，乙方将在不多于 1 工作日内完成充值工作，并通过系统向甲方 员工发送充值通知，员工即可登录平台使用账户内的额度。
                </p>
                <p class="small_title">4、嘉福平台签约合作公司名录详见 (附件一)。 其中部分合作商可以直接供货给客 户并开发票，如客户需要，可向嘉福平台提出，由嘉福平台协调。
                </p>

                <p class="agreement_content_tilte">第三条 甲方权利和义务</p>
                <p>1、甲方应当遵守国家法律法规的规定和本协议第二条的有关约定。</p>
                <p>2、甲方应按本协议第二条约定的储值频率、金额为员工账户储值。</p>
                <p>3、甲方应在每次向乙方下达储值订单（见本协议第二条第 1款）后的三（3）个工作 日内向乙方指定的银行账户汇款（包括但不限于储值金额以及服务费）。</p>
                <p>4、甲方在履行本协议的期间内，就双方约定事项如有任何变更的，应自作出变更之日 起不晚于三个工作日内书面通知乙方。</p>
                <p>5、甲方用户可以随时更改密码，但是甲方应负责告知甲方用户且乙方应在其嘉福平台 中用明显的方式提醒甲方用户：甲方用户应自行对其使用的登录会员名和密码进行
                    妥善保管和使用，由于甲方用户的原因未履行本条款的约定导致任何损失的，由甲 方用户承担相应责任。如甲方用户忘记登录会员名和密码，乙方应向甲方用户提供 重新获得登录会员名和密码的途径。</p>


                <p class="agreement_content_tilte">第四条 乙方权利和义务</p>
                <p>1、乙方应当遵守本协议第二条的有关约定。</p>

                <p>2、乙方在每次收到甲方储值汇款后的不多于 1个工作日内，向甲方的账户内充值，并 开具相应发票，如遇系统升级等特殊情况顺延，双方可协商解决。</p>

                <p>3、乙方为甲方开通平台后，应同时为甲方创建总部管理员及分公司管理员的账户，甲 方指定人员通过上述管理员账户登录平台后，可随时查看员工福利兑换及使用情况 的报表，并可自行导出报表以备存档。</p>

                <p>4、乙方应对其嘉福平台进行妥善管理，并对其系统进行备份以防止数据丢失的损失。 除不可抗力和本协议另有约定外，若非因甲方或非因甲方用户原因导致甲方用户帐
                    户内的储值金额减少或灭失的，应由乙方负责补偿该减少/灭失的金额。</p>

                <p>5、甲方员工在平台上选择兑换福利产品后，乙方将在 T+ 1 日（节假日顺延）处理 订单，并为甲方员工在线发送电子卡/券。</p>

                <p>6、乙方应当在其营业范围内，尽其所能定期更新或扩大平台上所提供的福利产品内 容，并及时向甲方提供“福利产品目录”的更新版。</p>

                <p>7、乙方应当对福利产品服务提供者的服务内容及质量进行了解并向其提出改进建议， 但乙方的上述行为不视为其对福利产品服务提供者的服务内容及质量作任何保证。</p>

                <p>8、嘉福平台上所提供的福利产品依赖于各福利产品本身的服务提供者的质保政策和服 务质量，如因福利产品本身的服务提供者提供的商品或者服务问题导致用户或任何 第三人的损失的，甲方用户可致电乙方客服热线，由乙方负责与福利产品的服务提 供者协商解决。如在甲方用户致电乙方客服务后 20 个工作日内乙方不能提供合理 的解决方案的，乙方应当先行赔付甲方员工的损失，并向福利产品的服务提供者进 行追偿。</p>
                <p>9、除法律法规的规定或有权主管的国家机关要求披露的情形外，乙方将采取措施避免 甲方用户的登录名、密码、个人资料、购买资料和付款资料等信息的泄露。</p>
                <p>10、离职员工账户的处理。甲方每月 30日（或当月最后一个工作日）向乙方提供当月 离职员工的清单后，乙方将在系统中添加必要的信息标识，且双方约定该账户按照 如下方式之 第 1 种 处理： </p>
                <p>（1） 一直保留；</p>
                <p>（2） 保留三个月后进行转移，即离职员工在离职当月后仍有三个月的时间登 录平台使用账户内的余额，三个月后若仍有账户余额，则按照甲方书面 盖章的要求全部转入甲方指定的其它账户。 </p>
                <p>11、乙方应将甲方员工在本平台上的充值记录、消费记录等信息妥善保管三年，以备甲 方查询。</p>


                <p class="agreement_content_tilte">第五条 违约责任</p>

                <p>任一方违反本协议项下约定的义务，由此造成另一方实际损失的，损失方有权要求 违约方进行相应赔偿。</p>

                <p class="agreement_content_tilte">第六条 免责条款</p>
                <p>乙方对以下事项免责：</p>
                <p>（1）甲方提供的员工信息不真实、不准确而致使用户受到任何性质的损失； </p>
                <p>（2）由于甲方或甲方用户原因导致甲方用户的密码、个人资料以及甲方购买信息 和付款资料的信息泄露而产生的损失； </p>
                <p>（3）由于用户或用户授权人的行为（包括但不限于登录号或密码的借用、冒用、 丢失、被盗以及其它非法操作行为）导致的损失；</p>
                <p>（4）嘉福平台由于法律所规定的不可抗力的原因（包括但不限于：第三方原因导 致的网络系统故障等非因乙方疏忽和过失且为乙方不可预见、不可避免且无法克 服的原因）而导致的风险和损失，但乙方应在该等不可抗力事件发生后，及时通 知甲方，并采取积极措施进行补救及恢复，以消除可能给甲方及甲方用户 造成的损失。
                </p>


                <p class="agreement_content_tilte">第七条 适用法律</p>

                <p>本协议的订立、效力、履行、终止、解释和争议解决等均适用中华人民共和国法律。</p>

                <p class="agreement_content_tilte">第八条 不可抗力</p>
                <p>本协议有效期内，如因不可抗力的因素，如：各级政府命令、决定或法律法规、 政策的规定，以及其它于签订本协议时不可预见、不可避免或不可控制的自然事件和 社会事件，致使本协议的内容不能继续履行的，遭受不可抗力的一方不承担责任，但 应就该等不可抗力事实自发生之日起三个工作日内书面通知对方。任何一方均应采取 有效措施尽力避免因该等不可抗力因素的发生而造成的损失，关于损失的处理，应当 遵循中华人民共和国的相关法律为原则。
                </p>


                <p class="agreement_content_tilte">第九条 争议解决</p>
                <p>甲、乙双方因履行本协议发生的任何争议，均应先通过友好协商解决。协商不能 解决的，任何一方均可提交中国国际经济贸易仲裁委员会仲裁。仲裁地为乙方所在 地，仲裁裁决是终局的，对双方均具有约束力。
                </p>

                <p class="agreement_content_tilte">第十条 附则</p>
                <p>1、本协议以中文版本书写，一式两份，自双方签字盖章之日起生效，有效期为一年。 除非本协议发生解除、终止之情形，本协议将持续有效。如一方要求提前解除合同 的，需提前一个月书面通知对方。</p>
                <p>2、双方有未尽事宜，可签订补充协议，补充协议与本协议具有同等法律效力。</p>

                <p class="representative">甲方：</p>
                <p>法定代表人：</p>
                <p>日期：</p>

                <p class="representative">乙方：</p>
                <p>法定代表人：</p>
                <p>日期：</p>



                <p class="agreement_content_tilte">附件一: 嘉福平台签约合作公司名录详见 :</p>
                <div><img src="../../icon/logo_b.jpg" class="logo_b"></div>
                <p><span class="company">北京猫眼文化传媒有限公司</span> 北京凯特瑞英信息技术有限公司 </p>
                <p><span class="company">杉德支付网络服务发展有限公司</span> 北京味多美食品有限责任公司 </p>
                <p><span class="company">上海丰之沃电子商务科技股份有限公司</span>北京世纪爱康国际商贸有限公司</p>
                <p><span class="company">江苏欧飞电子商务有限公司</span>北京爱雅瑞德信息技术有限公司</p>
                <p><span class="company">北京亿美汇金信息技术股份有限公司</span>北京浩沙健身有限公司</p>
                <p><span class="company">上海非码网络科技有限公司</span>上海携程国际旅行社有限公司</p>
                <p><span class="company">上海美务信息科技有限公司 </span>上海近鑫信息技术有限公司 </p>
                <p><span class="company">上海弢律人力资源服务有限公司 </span>北京浩沙盛世健身服务有限公司 </p>
                <p><span class="company">荣昌耀华网络技术（北京）有限公司 </span>北京市新宏状元餐饮管理有限公司 </p>
                <p><span class="company">南京汇速通网络科技有限公司</span>大连中鼎支付有限公司广州唯品会信息科技有限公司</p>
                <p><span class="company">深圳新美程科技有限公司</span>北京京东世纪信息技术有限公司</p>
                <p><span class="company">上海智子信息科技股份有限公司 </span>上海携程国际旅行社有限公司</p>
                <p><span class="company">上海乐雅健康科技有限责任公司</span>上海银商电子商务有限公司</p>
                <p><span class="company">上海亿生信息技术有限公司</span>北京联合渝乡人家餐饮有限公司</p>
                <p><span class="company">上海易果电子商务有限公司</span>上海烟波亭餐饮管理有限公司 </p>
                <p><span class="company">上海苏宁云商销售有限公司</span>上海开茂企业服务有限公司 </p>
                <p><span class="company">上海赏励信息科技有限公司</span> 昆山阳澄湖科技园有限公司 </p>
                <p><span class="company">知我天成科技（北京）股份有限公司</span> 上海阜道信息技术有限公司 </p>
                <p><span class="company">上海御扬贸易有限公司</span>上海贝耀数据科技有限公司  </p>
                <p><span class="company">北京羽扇智信息科技有限公司</span>深圳申佳商务服务有限公司 </p>
                <p><span class="company">上海益倍嘉金融信息服务有限公司</span>嘉付宝（北京）信息技术有限公司沈阳分公司</p>
                <p><span class="company">上海大汉三通无线通信有限公司</span>北京稻香村食品有限责任公司</p>
                <p><span class="company">北京携程国际旅行社有限公司 </span>青岛汉海众合企业服务有限公司 </p>
                <p><span class="company">北京物美商业集团股份有限公司 </span>美年大健康产业控股股份有限公司</p>
                <p><span class="company">北京裕福支付有限公司 </span>上海贝耀数据科技有限公司大连分公司 </p>
                <p><span class="company">上海金诚通企业服务有限公司</span>嘉付宝（北京）信息技术有限公司 </p>
                <p><span class="company">上海金诚通电子支付服务有限公司 </span></p>







            </div>


        </div>


        <div class="register_finish_bottom">
            <!--一个按钮-->
            <%- include('../../component/button/oneSmallBtn.ejs',{
            "thisurl":"certificate_steptwo.html",
            "btntext":"确认"
            }) %>
        </div>

    </div>

</div>
    <script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/BusinessService.min.js"></script>
    <script>
        jfCustomerService.init({//用户信息
            name: '阿陈',// 名字
            address: '西伯利亚',// 地址
            email: '1313@qq.com',// 邮箱
            age: '16',// 年龄
            tel: '110',// 电话
            comment: '很帅',// 备注
            gender: '男',// 性别
            qq: '1234567',// QQ
            weibo: '',// 微博
            weixin: '',// 微信
            '公司名称': '上海淘略数据有限公司',
            '公司编号': '123ksuhdaf891274',
            '员工编号': '1234567890123456'
        })

    </script>

</body>
</html>