<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>企业基本信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
    <style>

</style>
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>企业基本信息</h2>

    <!--内容111-->
    <div class="info_middlebody">
        <!--用户名-->
        <div class="info_content">
            <span>企业识别号：</span>
            <span>AY2368554</span>
        </div>
        <div class="info_content">
            <span>企业全称：</span>
            <span>上海嘉付宝信息技术有限公司</span>
        </div>
        <div class="info_content">
            <span>销售顾问：</span>
            <span>李明</span>
        </div>
        <div class="info_content basic_info">
            <span>企业昵称：</span>
            <span><input value="小李" class="form-control btn-md-zy changeinput" readonly="readonly"><button class="btn btn-primary input-group-addon" id="modifynackname">修改</button></span>
        </div>
        <div class="info_content">
            <span>销售顾问电话：</span>
            <span>15665456952</span>
        </div>
        <div class="info_content">
            <span>企业地址：</span>
            <span>上海市徐汇区虹桥路</span>
        </div>
        <!--文本框-->
    </div>
    <!--底部按钮-->
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.js"></script>
<script>

    $('#modifynackname').click(function(){

        modifyNickName('修改','完成','#modifynackname','input.changeinput','您还没有输入信息')

    });


</script>
</body>
</html>