<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>企业基本信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
    <style>

    </style>
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>企业认证信息</h2>

    <!--内容111-->
    <div class="info_middlebody">

        <%- include('../../component/basic/info.ejs',{
        "title":"企业名称：",
        "basicinfo":"上海淘略数据处理有限公司"
        })%>

        <%- include('../../component/basic/info.ejs',{
        "title":"统一社会信用代码：",
        "basicinfo":"12345679526235"
        })%>

        <%- include('../../component/basic/info.ejs',{
        "title":"企业法人：",
        "basicinfo":"陈杰"
        })%>

        <%- include('../../component/basic/info.ejs',{
        "title":"纳税人识别号：",
        "basicinfo":"456923654562546659265"
        })%>



            <div class="info_content">
                <span>营业执照：</span>
                <span>
                    <div class="left_img">
                        <img src="../../icon/company_photo.jpg">
                        <p>点击查看模板</p>
                    </div>
                </span>
            </div>



            <div class="info_content">
                <span>企业公章：</span>
                <span>
                    <div class="left_img">
                        <img src="../../icon/company_offiicial_seal.png">
                        <p>点击查看模板</p>
                    </div>
                </span>
            </div>




            <div class="info_content ">
                <span>认证授权书：</span>
                <span>
                    <div class="left_img">
                        <img src="../../icon/certificate_authority.png">
                        <p>点击查看模板</p>
                    </div>
                </span>
            </div>

        <div class="info_content ">
            <span>签约文件：</span>
            <span><a>查看详情</a><a> | 下载文件</a></span>
        </div>



    </div>
    <!--底部按钮-->

    <!--营业执照模板-->
    <div class="modal fade" tabindex="-1" aria-labelledby="staff_lookup_editLabel" id="company_photo" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="staff_lookup_editLabel">营业执照模板 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <div class="business_license"><img src="../../icon/company_photo.jpg"></div>
                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-primary-zy model-change1 edit_close" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--企业认证模板-->
    <div class="modal fade" tabindex="-1" aria-labelledby="staff_lookup_editLabel" id="certificate_authority" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="staff_lookup_editLabel">认证授权书模板 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <div class="business_license"><img src="../../icon/certificate_authority.png"></div>
                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-primary-zy model-change1 edit_close" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--企业公章模板-->
    <div class="modal fade" tabindex="-1" aria-labelledby="staff_lookup_editLabel" id="company_official_seal" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="staff_lookup_editLabel">企业公章模板 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <div class="business_license"><img src="../../icon/company_offiicial_seal.png"></div>
                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-primary-zy model-change1 edit_close" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.js"></script>
<script>


    //企业营业执照模态框
    document.getElementsByClassName('left_img')[0].addEventListener('click',function(){
        //一个模态框出现的方法
        modelInfo('#company_photo')//模态框ID选择器
    },false)

    //企业认证模态框
    document.getElementsByClassName('left_img')[2].addEventListener('click',function(){
        //一个模态框出现的方法
        modelInfo('#certificate_authority')//模态框ID选择器
    },false)

    //企业公章模态框
    document.getElementsByClassName('left_img')[1].addEventListener('click',function(){
        //一个模态框出现的方法
        modelInfo('#company_official_seal')//模态框ID选择器

    },false)



</script>
</body>
</html>