<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>企业基本信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>管理员密码修改完成</h2>

    <!--内容-->
    <div class="info_middlebody" style="margin-left: 0">
        <!--中间内容-->

        <div class="weui_icon_area" style="margin-bottom:0;">
            <div class="swal2-icon swal2-success animate"> <span class="line tip animate-success-tip"></span> <span class="line long animate-success-long"></span>
                <div class="placeholder"></div>
                <div class="fix"></div>
            </div>
        </div>


        <div class="success_page" style="text-align: center">
            <h3  class="login_pasd_reset">密码重置成功，请牢记新的登录密码！</h3>

            <a href="#" class="login_next">登录管理员页面</a>

        </div>

    </div>
    <!--底部按钮-->
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
</body>
</html>