<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>企业基本信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>密码修改失败</h2>

    <!--内容-->
    <div class="info_middlebody" style="margin-left: 0">
        <!--中间内容-->

        <div class="title-success"><div class="swal2-icon swal2-error animate-error-icon" style="display:block"><span class="x-mark animate-x-mark"><span class="line left"></span> <span class="line right"></span></span></div></div>


        <div class="success_page" style="text-align: center">
            <h3  class="login_pasd_fail">密码重置失败，请重试！</h3>

            <a href="#" class="login_next">返回上一页</a>

        </div>

    </div>
    <!--底部按钮-->
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.js"></script>
</body>
</html>