<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>&#x5609;&#x798F;&#x4F01;&#x4E1A;&#x7AEF;&#x7EC4;&#x4EF6;</title>
</head>
<body>



<div class="jf_progress">
    <div class="progress_text">
        <span>一一一</span>
        <span>二二二</span>
        <span class="showblue">三三三</span>
        <span>四四四</span>
        <span>五五五</span>
    </div>

    <div class="progress_all">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar showblue"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</div>


</body>
</html>