<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>收银台支付</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>收银台</h2>

    <!--内容111-->
    <div class="info_middlebody">
        <!--用户名-->
        <div class="info_content">
            <span>订单金额：</span>
            <span><span>9999</span>元</span>
        </div>
        <div class="info_content">
            <span>订单信息：</span>
            <span>企业VIP充值</span>
        </div>
        <div class="info_content">
            <span style=";vertical-align: top;">支付方式：</span>
            <span>
                 <span class="payway">
                     <label>
                <input type="radio" name="JFpay" style="margin: 0;vertical-align: middle" checked="checked">
                <span></span>
                <p style="display: inline-block;margin: 0">企业福利余额支付</p>
                <small>可用余额：<span>1000.00元</span></small>
                     </label>
                </span>
            </span>
        </div>

        <div class="info_content">
            <span></span>
            <span>
                <button type="button" class="btn btn-primary release_confirm_btn" id="pay_modelloading">确认支付</button>
                 <a onclick="window.history.go(-1)"><button type="button" class="btn btn-primary release_confirm_btn">取消</button></a>
            </span>
        </div>

    </div>


<!--模态框-->
    <div class="modal fade"  id="pay_info_model" tabindex="-1" aria-labelledby="pay_info_modelLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="pay_info_modelLabel">短信验证</h4>
                </div>
                <!-- body-->
                <div class="modal-body">

                    <!--模态框组件-->
                    <div class="smodal_content">
                        <div class=" info_content">
                            <p class="pay_model_pp">
                                为保障安全，当前交易需进行短信验证
                            </p>
                            <p class="pay_model_pp">
                                短信验证码已经发送到手机：<span>158*****250</span>
                            </p>
                        </div>
                    </div>

                    <div class="smodal_content">
                        <div class="info_content">
                           <p class="pay_model_pp" style="padding-right: 65px">
                               <input type="text" class="form-control btn-md-zy" />
                               <button type="button" class="btn btn-primary input-group-addon getmessage " style="text-align: center;font-size: 12px">点击获取</button>
                           </p>

                        </div>
                    </div>

                    <div class="smodal_content">
                        <div class=" info_content">
                           <p class="pay_model_pp">
                               如果收不到验证码，请拨打 <span style="color: #3498db;">400-821-699</span>
                           </p>

                        </div>
                    </div>

                    <!-- footer -->
                    <div class="modal-footer">
                        <a href="pay_fail.html"><button type="button" class="btn btn-primary btn-primary-zy model-change1 edit_close">确认</button></a>
                        <button type="button" class="btn btn-default"  data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部按钮-->
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>
    $('#pay_modelloading').on('click', function () {

        modelInfo('#pay_info_model'); //参数一：模态框id选择器
    });


    $('button.getmessage').on('click', function () {
        getmessage(this,60);//参数表示选择的该元素
    });
</script>


</body>
</html>