<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>企业基本信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--内容111-->
    <div class="info_middlebody" style="margin-left: 0">
        <div class="title-success"><div class="swal2-icon swal2-error animate-error-icon" style="display:block"><span class="x-mark animate-x-mark"><span class="line left"></span> <span class="line right"></span></span></div></div>

        <div class="success_page">
            <h2 style="text-align: center;border-bottom: none;margin-bottom: 10px">支付失败</h2>

            <div>
                <p><span>订单编号：</span><span>105155312562562</span></p>
                <p><span>支付金额：</span><span>￥500.00</span></p>
            </div>

            <div class="success_page_pp">
                <p>支付失败，请重新支付。支付失败，请重新支付。支付失败，请重新支付。支付失败，请重新支付。支付失败，请重新支付。</p>
            </div>
        </div>

        <div class="fail_page_button">
            <a href="../welfare_mall/lookup_product_order.html"><button type="button">查看订单</button></a>
            <a onclick="window.history.go(-1)"><button type="button">重新支付</button></a>
        </div>

    </div>
    <!--底部按钮-->
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
</body>
</html>