<div class="address_list">
    <div>
        <p class="name">孙悟空</p>
        <p>
            <span class="set_default">设为默认</span>
            <span class="edit">修改</span>
            <span class="delete">删除</span>
        </p>

    </div>
    <div class="tel">
        <p>15223698456</p>
    </div>
    <div class="address_info">
        <span>上海市徐汇区虹桥路808号上海加华商务中心D5栋3楼</span>
    </div>
</div>
