<div class="address_list choosed">
    <div>
        <p class="name">孙悟空</p>
        <p>
            <span class="edit">修改</span>
            <span class="delete">删除</span>
        </p>

    </div>
    <div class="tel">
        <p>15223698456</p>
    </div>
    <div class="address_info">
        <span class="default">（默认地址）</span><span>上海市徐汇区虹桥路808号上海加华商务中心D5栋3楼上海市徐汇区虹桥路808号上海加华商务中心D5栋3楼</span>
    </div>
</div>
