
<div class="order_list">
    <p>商品清单</p>

    <!-- 表格-->
    <div class="table-responsive info_table">
        <table class="table ">
            <thead>
            <tr class="tr-zy">
                <th>商品信息</th>
                <th>已选</th>
                <th>单价</th>
                <th>数量</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <img src="../../icon/icon_product.jpg" class="pro_img">
                    <span>【嘉福商城】三只松鼠 大礼包 1435g坚果零食 中秋礼盒装 套餐</span>
                </td>
                <td>
                    <p><span>口味：</span><span>五香</span></p>
                    <p><span>礼盒：</span><span>五袋装</span></p>
                </td>
                <td>￥330.00</td>
                <td>X 200</td>
            </tr>
            <tr>
                <td>
                    <img src="../../icon/icon_product.jpg">
                    <span>【嘉福商城】三只松鼠 大礼包</span>
                </td>
                <td>
                    <p><span>口味：</span><span>五香</span></p>
                    <p><span>礼盒：</span><span>五袋装</span></p>
                </td>
                <td>￥330.00</td>
                <td>X 200</td>
            </tr>
            <tr>
                <td colspan="4" class="total_price"><span>商品总额：</span><span class="price">￥60000.00</span></td>
            </tr>
            <tr>
                <td colspan="4" class="tips"><span>备注：</span><input type="text" maxlength="45" placeholder="选填,仅限45个字，对本次交易的说明"></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>