
<!--订单详情-->
<div class="look_order">

    <div class="order_tilte">
        <p>
            <span>订单编号：</span>
            <span>17462561285625</span>
        </p>

        <p>
            <span>订单状态：</span>
            <span>配送中</span>
        </p>

    </div>


    <div class="order_list">
        <p>订单详情</p>

        <!-- 表格-->
        <div class="table-responsive info_table">
            <table class="table ">
                <thead>
                <tr class="tr-zy">
                    <th>收货人信息</th>
                    <th>配送信息</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span>收货人：</span>
                        <span>葫芦娃</span>
                    </td>
                    <td>
                        <span>快递单号：</span>
                        <span>1665656595365656</span>
                    </td>
                    <td class="messages">暂无暂无暂无暂无暂无暂无暂无暂无暂无暂无暂无暂无暂无暂无暂无暂无暂无暂无暂无暂无暂无</td>
                </tr>
                <tr>
                    <td>
                        <span>地址：</span>
                        <span>上海市徐汇区虹桥路808号加华商务中心D5栋3楼</span>
                    </td>
                    <td>
                        <span>快递公司：</span>
                        <span>京东配送</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>手机号码：</span>
                        <span>16543648643656959</span>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </div>
</div>