<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>嘉福企业端组件</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2 class="hometitle">上海淘略数据处理有限公司</h2>
    <div class="info_middlebody" style="margin-left: 0">
        <!-- 统计数据-->
        <div class="top_concent_qd">
            <span>
                <div>1266750</div>
                 <div>总人数</div>
            </span>

             <span>
                <div>12,380,897.00 </div>
                  <div>企业账户余额（元）</div>
            </span>
            <span style="cursor:pointer" onClick='window.parent.selectLeftTab("福利增值")'>
                <div>66,450,000.00</div>
                 <div>理财持有总额（元）</div>
            </span>
            
            
             <span>
                <div>55,450,000.00</div>
                 <div>累计充值金额（元）</div>
            </span>
        </div>
        <!-- 中间图表-->
        <div class="homepage_mid">
            <!-- 福利管理-->
            <div class="homepage_bigbox">
                <div>
                <div class="homepage_img">
                    <span class="welfare_img"></span>
                    <span class="homepage_line"></span>
                </div>
                <div class="homepage_lists">
                    <div class="homepage_lists_title">
                        <p>福利管理</p>
                        <span>快速简单、低成本</span>
                    </div>
                    <div class="homepage_lists_items">
                            <ul>
                                <li><a href="#">福利发放</a></li>
                                <li><a href="#">福利发放查询</a></li>
                                <li><a href="#">VIP卡回收</a></li>
                                <li><a href="#">VIP卡回收查询</a></li>
                            </ul>
                    </div>
                </div>
            </div>
            </div>
            <!--福利金融-->
            <div class="homepage_bigbox">
                <div>
                <div class="homepage_img">
                    <span class="welfare_finance"></span>
                    <span class="homepage_line"></span>
                </div>
                <div class="homepage_lists">
                    <div class="homepage_lists_title">
                        <p>福利金融</p>
                        <span>让福利更有价值</span>
                    </div>
                    <div class="homepage_lists_items">
                            <ul>
                                <li><a href="#">福利增值</a></li>
                                <li style="list-style: none"></li>
                                <li style="list-style: none"></li>
                                <li style="list-style: none"></li>
                            </ul>
                    </div>
                </div>
                </div>
            </div>
            <!--员工导入-->
            <div class="homepage_bigbox">
                <div>
                <div class="homepage_img">
                    <span class="staff_importimg"></span>
                    <span class="homepage_line"></span>
                </div>
                <div class="homepage_lists">
                    <div class="homepage_lists_title">
                        <p>员工导入</p>
                        <span>得力助手、没问题</span>
                    </div>
                    <div class="homepage_lists_items" >
                            <ul>
                                <li><a href="#">员工导入</a></li>
                                <li><a href="#">员工查询</a></li>
                                <li style="list-style: none"></li>
                                <li style="list-style: none"></li>
                            </ul>
                    </div>
                </div>
                </div>
            </div>

            <!--企业账户管理-->
            <div class="homepage_bigbox">
                <div>
                    <div class="homepage_img">
                        <span class="transfer_reportimg"></span>
                        <span class="homepage_line"></span>
                    </div>
                    <div class="homepage_lists">
                        <div class="homepage_lists_title">
                            <p>企业账户管理</p>
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        </div>
                        <div class="homepage_lists_items">
                            <ul>
                                <li><a href="#">额度转让</a></li>
                                <li><a href="#">额度转让查询</a></li>
                                <li style="list-style: none"></li>
                                <li style="list-style: none"></li>
                                <li style="list-style: none"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--数据报表-->
            <div class="homepage_bigbox">
                <div>
                <div class="homepage_img">
                    <span class="data_reportimg"></span>
                    <span class="homepage_line"></span>
                </div>
                <div class="homepage_lists">
                    <div class="homepage_lists_title">
                        <p>数据报表</p>
                        <span>总览全员、更省力</span>
                    </div>
                    <div class="homepage_lists_items">
                            <ul>
                                <li><a href="#">企业充值明细</a></li>
                                <li><a href="#">企业消费明细</a></li>
                                <li><a href="#">员工消费明细</a></li>
                                <li><a href="#">员工余额查询</a></li>
                                <li><a href="#">员工交易查询</a></li>
                            </ul>
                    </div>
                </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>

    $('.homepage_lists_items li a').on('click',function () {
        var thisInnerHtml=$(this).html().replace(/\s/g,"");
        window.parent.selectLeftTab(thisInnerHtml);

    })
	
</script>
</body>
</html>