<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>企业账户明细</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>企业账户明细</h2>

        <div class="info_middlebody" style="margin-left: 0">


            <!--日期-->

            <div class="control-title">
                <div style="width: 100%">
                    <span >交易日期：</span>
                <span>
                     <input size="16" type="text" value="2016-06-15" readonly class="form_datetime form-control form-control-zy1">
                    至
                    <input size="16" type="text" value="2016-06-15" readonly class="form_datetime form-control form-control-zy1" >
                </span>
                </div>
                <div></div>
            </div>

            <!-- 交易类型-->
            <div class="control-title">
                <div>
                    <span>交易类型：</span>
                <span>
                    <select class="form-control  form-control-zy" >
                        <option value="待处理" selected="selected">全部</option>
                        <option value="待处理">充值</option>
                        <option value="待处理">消费</option>
                    </select>
                </span>
                </div>
                <div>
                    <span>账户类型：</span>
                <span>
                    <select class="form-control  form-control-zy" >
                        <option value="待处理" selected="selected">全部</option>
                        <option value="待处理">福利账户</option>
                        <option value="待处理">现金账户</option>
                    </select>
                </span>

            </div>
            </div>




                <!-- -->
                <div class="control-title">

                    <div>
                        <span></span>
                        <span></span>
                    </div>
                    <div>
                        <span></span>
                        <span></span>
                    </div>
                </div>

            <!-- 查询按钮-->
            <div class="control-title">
                <div>
                    <span></span>
                    <span>

                    </span>
                </div>
                <div>
                    <span></span>
                    <span>
                         <a href="../error/404.html"><button type="button" class="btn btn-primary btn-zyone">查询</button></a>
                    </span>
                </div>
            </div>


    <div class="table-responsive info_table">

        <table class="table table-striped">
            <thead>
            <tr class="tr-zy">
                <th>交易时间</th>
                <th>交易类型</th>
                <th>账户类型</th>
                <th>交易金额</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2017/07/01 12：00：00</td>
                <td>充值</td>
                <td>福利账户</td>
                <td>10,000.00</td>
            </tr>
            <tr>
                <td>2017/07/01 12：00：00</td>
                <td>消费</td>
                <td>福利账户</td>
                <td>10,000.00</td>
            </tr>
            <tr>
                <td>2017/07/01 12：00：00</td>
                <td>充值</td>
                <td>现金账户</td>
                <td>10,000.00</td>
            </tr>
            <tr >
                <td>2017/07/01 12：00：00</td>
                <td>消费</td>
                <td>福利账户</td>
                <td>10,000.00</td>
            </tr>
            <tr >
                <td>2017/07/01 12：00：00</td>
                <td>消费</td>
                <td>福利账户</td>
                <td>10,000.00</td>
            </tr>
            <tr >
                <td>2017/07/01 12：00：00</td>
                <td>消费</td>
                <td>福利账户</td>
                <td>10,000.00</td>
            </tr>
            <tr >
                <td>2017/07/01 12：00：00</td>
                <td>消费</td>
                <td>福利账户</td>
                <td>10,000.00</td>
            </tr>
            <tr>
                <td>2017/07/01 12：00：00</td>
                <td>消费</td>
                <td>福利账户</td>
                <td>10,000.00</td>
            </tr>
            <tr >
                <td>2017/07/01 12：00：00</td>
                <td>消费</td>
                <td>福利账户</td>
                <td>10,000.00</td>
            </tr>
            <tr>
                <td>2017/07/01 12：00：00</td>
                <td>消费</td>
                <td>福利账户</td>
                <td>10,000.00</td>
            </tr>

            </tbody>
        </table>
    </div>

        <div class="info_page">
            <span class="skip">跳转到 <input class="skip-num form-control">页  <span class="btn btn-skip">跳转</span></span>
            <ul class="pagination" style="margin-top:0px; float:right;">
                <li class="go"><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li>&nbsp;...&nbsp;</li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li class="active"><a href="#">10</a></li>
                <li><a href="#">11</a></li>
                <li><a href="#">12</a></li>
                <li>&nbsp;...&nbsp;</li>
                <li><a href="#">30</a></li>
                <li class="go"><a href="#">»</a></li>
            </ul>
        </div>


</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>

    $('input.form_datetime').each(function(){//------------------日历插件
        $(this).datepicker({
            format: "yyyy-mm-dd",
            autoclose :true,
            todayBtn :true,
            minView :2,
            weekStart :1,
            linked :true
        });
    });

    $('ul.pagination').find('li:not(.go)').each(function(){

        $(this).click(function(){

            jfpagechange(this);//参数为选择的当前元素
        })
    })


</script>
</body>
</html>