<div class="smodal_content">
    <div class=" info_content modal22">
        <span><span class="add_star">*</span><%=title%></span>
        <span><input type="text" class="form-control btn-md-zy11 input_valiate" placeholder="<%=placeholder%>"/></span>
    </div>
</div>