<div class="smodal_content">
    <div class=" info_content modal22">
        <span><%=title%></span>
        <span>
            <input type="<%=thistype%>" class="form-control btn-md-zy11" placeholder="<%=placeholder%>"/>
            <p class="input_tips"><%=text%></p>
        </span>
    </div>
</div>