
<div class="smodal_content">
    <div class=" info_content modal22">
        <span><%=title%></span>
        <span>
            <input type="password" class="form-control btn-md-zy11" placeholder="<%=placeholder%>"/>
            <span class="img_verifycode" style=""><img src="../../icon/verifycode.jpg"></span>
        </span>
    </div>
</div>