

    <div class="info_content basic_info">
        <span><%=title%></span>
        <span><input value="<%=thisValue%>"
         <%if(modelshow){%> class="form-control btn-md-zy"<%}else{%>class="form-control btn-md-zy changeinput"<%}%>readonly="readonly">
            <button class="btn btn-primary input-group-addon" id="<%=thisIdname%>"><%=btntext%></button></span>
    </div>
