<div class="smodal_content">
    <div class="info_content modal22">
        <span><%=title%></span>
        <span>
            <input type="text" class="form-control btn-md-zy">
            <button type="button" class="btn btn-primary input-group-addon getmessage"><%=buttonText%></button>
        </span>
    </div>
</div>