<div class="smodal_content">
    <div class="info_content modal22">
        <span><%=title%></span>
    <span class="choose-boxs">
           <input type="<%=thistype%>" checked name="fapiao" value="needs"><%=text%>
    </span>
    </div>
</div>

