<div class="smodal_content">
    <div class=" info_content modal22">
        <span><%=title%></span>
        <span>
            <input type="password" <% if(newpasd)
            {%>class="form-control btn-md-zy11 new_password"<%}
                else {%>class="form-control btn-md-zy11 "<%}
            %>placeholder="<%=placeholder%>" />
        </span>
    </div>
</div>