<div class="smodal_content">
    <div class="info_content modal22">
        <span><%=titleone%></span>
        <span>
           <div class="enlargement_photo">
               <img src="../../icon/jiafu_logo.png">
               <span>点击放大</span>
           </div>

        </span>
    </div>
</div>