<div class="smodal_content">
    <div class="info_content modal22">
        <span>充值账户：</span>
                <span>
                    <span class="radio_boxs">
                         <label>
                             <input type="radio" name="account">福利账户
                         </label>
                    </span>

                    <span class="radio_boxs">
                        <label>
                            <input type="radio" name="account">现金账户
                        </label>
                    </span>

                </span>
    </div>
</div>