<div class="smodal_content">
    <div class="info_content modal22">
        <span><%=title%></span>
        <span>
            <div class="left_img">
                <img src="<%=thisSrc%>">
                <p>点击查看模板</p>
            </div>
            <div class="right_text">
                <p><%=textone%></p>
                <p>照片所有信息需要清晰可见，内容真实有效，不得做任何修改。
                   <br/> 照片支持.jpg .jpeg .bmp .gif .png格式，大小不超过8M。
                </p>
                <a href="#" class="choose_file">
                    <input type="file">
                    <span>选择文件</span>
                </a>
            </div>
        </span>
    </div>
</div>
