<div class="check_box">
    <div class="sell_welfare">
        <p>本次代卖福利</p>
        <p>30000.00</p>
    </div>

    <div class="sell_welfare">
        <p>笔数</p>
        <p>10</p>
    </div>

    <div class="sell_welfare">
        <p>手续费</p>
        <p>3.00</p>
    </div>

    <a class="sell_welfare_details" href="#">
        <p>查看明细 >></p>
    </a>
</div>