
<!--买入模块-->
<div class="welfare_buy_mid">

    <div class="buy_info">

        <div class="pay_total">
            <div class="title">代卖福利总额：</div>
            <div class="content">
                <div class="total_money sale_application_font">1000.00</div>
                <div>
                    <span>元</span>
                    <img src="../../icon/welfare_explain.png" class="tooltip-test showTips" data-toggle="tooltip" data-placement="right" title="根据导入表格中计算所得，暂不支持修改">
                </div>
            </div>
        </div>

        <div class="pay_total">
            <div class="title">卖出单价：</div>
            <div class="content">
                <div class="total_money">0.998</div>
                <div>
                    <span>元</span>
                    <img src="../../icon/welfare_explain.png" class="tooltip-test showTips" data-toggle="tooltip" data-placement="right" title="卖出一份福利额度成交后，获得的工资账户收入">
                </div>
            </div>
        </div>

        <div class="pay_total">
            <div class="title">预计到账总额：</div>
            <div class="content">
                <div class="total_money">998</div>
                <div>
                    <span>元</span>
                    <img src="../../icon/welfare_explain.png" class="tooltip-test showTips" data-toggle="tooltip" data-placement="right" title="卖出福利额度成交后，员工获得的工资账户总收入">
                </div>
            </div>
        </div>

    </div>

    <div class="buy_tips">
        <div>
            <span>福利账户余额：</span>
            <span>1000.00</span>
        </div>
        <div>
            <span>平台手续费：</span>
            <span>0%</span>
        </div>
    </div>

    <div class="buy_agreement">
        <div><input type="checkbox" checked> <span>同意<a class="transfer_agreement">《福利代卖服务协议》</a></span></div>
    </div>

    <div class="success_page_button">
        <a href="check_sale_application.html"><button type="button" class="btn btn-primary buy_btn">提交代卖申请</button></a>

        <a onclick="window.parent.selectLeftTab('首页')"><button type="button" class="btn btn-primary">取消</button></a>
    </div>






</div>