
<div class="sale_check">

    <div class="smart_robot">
        <img src="../../icon/icon_vip_people.png">
    </div>

    <div class="check_details">



        <div class="check_one">
            <div>

                <p class="tooltip-test" data-toggle="tooltip" title="系统根据导入的银行卡户名和账号，自动为员工代开平台账号"><span>自动匹配员工信息 <img src="../../icon/welfare_explain.png"></span></p>

                <span class="cirlce">01</span>
            </div>

        </div>

        <div class="img_one"><img src="../../icon/icon_vip_arrow1.png"></div>

        <div class="check_two">
               <div>

                   <span class="cirlce">02</span>
                   <p class="tooltip-test" data-toggle="tooltip" title="系统根据导入的信息，自动为企业分发福利给员工"><span>极速分配福利额度 </span><img src="../../icon/welfare_explain.png"></p>


               </div>

           </div>

           <div class="img_two"><img src="../../icon/icon_vip_arrow2.png"></div>

           <div class="check_three">
               <div>
                   <span class="cirlce">03</span>
                   <p class="tooltip-test" data-toggle="tooltip" title="系统根据导入的信息，自动为企业员工卖出分发的福利" ><span>智能撮合交易 </span><img src="../../icon/welfare_explain.png"></p>
               </div>


           </div>

           <div class="img_three"><img src="../../icon/icon_vip_arrow3.png"></div>

           <div class="check_four">

               <div>

                   <span class="cirlce">04</span>
                   <p class="tooltip-test" data-toggle="tooltip" title="系统根据导入的信息，自动为企业员工提取代卖福利回收的现金到银行卡"><span>实时获得收益 </span><img src="../../icon/welfare_explain.png"> </p>
               </div>


           </div>
    </div>

</div>


<script>

    $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>



