<div class="sale_check">

    <!--方块区域-->

    <div class="check_details">
        <img src="../../icon/icon_vip_people.png">

        <div class="check_one">
            <p>自动匹配员工信息</p>
            <img src="../../icon/welfare_explain.png">
            <span class="cirlce">01</span>
        </div>

        <div class="img_one"><img src="../../icon/icon_vip_arrow1.png"></div>

        <div class="check_two">
            <p>极速分配福利额度</p>
            <img src="../../icon/welfare_explain.png">
            <span class="cirlce">02</span>
        </div>

        <div class="img_two"><img src="../../icon/icon_vip_arrow2.png"></div>

        <div class="check_three">
            <p>智能撮合交易</p>
            <img src="../../icon/welfare_explain.png">
            <span class="cirlce">03</span>
        </div>

        <div class="img_three"><img src="../../icon/icon_vip_arrow3.png"></div>

        <div class="check_four">
            <p>实时获得收益</p>
            <img src="../../icon/welfare_explain.png">
            <span class="cirlce">04</span>
        </div>
    </div>

</div>