<div class="sale_check">

    <!--方块区域-->
    <div class="check_details">

        <div>
            <div><span>独立开户<img src="../../icon/icon_nav_helpcenter_2.png"></span></div>
            <div>
                <p>
                    <span>开户人数</span>
                    <span>10<span>人</span></span>
                </p>
            </div>
        </div>

    </div>


    <!---->
    <div></div>
</div>