<!DOCTYPE html>
<html lang="en">
<head><link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/component.css">

    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>子管理员设置</title>


    <style>


    </style>
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>操作日志</h2>

    <div class="info_middlebody">
        <!-- 一排多个组件-->

        <div class="control-title">
            <div style="width: 100%">
                <span>操作时间</span>
        <span>
                     <input size="16" type="text" value="2016-10-15" readonly class="form_datetime form-control form-control-zy1">
                    至
                    <input size="16" type="text" value="2016-10-18" readonly class="form_datetime form-control form-control-zy1">
                </span>
            </div>
        </div>

        <div class="control-title">
            <div>
                <span>业务名称</span>
          <span><select class="form-control form-control-zy">
                  <option selected>账户充值</option>
                  <option>企业转账</option>
              </select></span>
            </div>
            <div>
                <span>操作人</span>
        <span>
            <input type="text" class="form-control form-control-zy" placeholder="请输入操作人">
         </span>
            </div>
        </div>

        <div class="control-title">
            <div>
                <span></span>
                <span></span>
            </div>
            <div>
                <span style="visibility: hidden"></span>
                <span></span>
            </div>
        </div>

        <div class="control-title">
            <div>
                <span></span>
                <span></span>
            </div>
            <div>
                <span style="visibility: hidden">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span><button type="submit" class="btn btn-primary btn-zyone btn-modeltwo">查询</button></span>
            </div>
        </div>

    </div>


    <!-- 表格-->
    <div class="table-responsive info_table">
        <table class="table table-striped">
            <thead>
            <tr class="tr-zy">
                <th>业务名称</th>
                <th>操作人</th>
                <th>操作时间</th>
                <th>IP地址</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>账户充值</td>
                <td>葫芦娃</td>
                <td>2017/07/01 14:00:00</td>
                <td>www.123.22.com</td>
            </tr>
            <tr>
                <td>账户充值</td>
                <td>葫芦娃</td>
                <td>2017/07/01 14:00:00</td>
                <td>www.123.22.com</td>
            </tr>
            <tr>
                <td>账户充值</td>
                <td>葫芦娃</td>
                <td>2017/07/01 14:00:00</td>
                <td>www.123.22.com</td>
            </tr>

            <tr>
                <td>账户充值</td>
                <td>葫芦娃</td>
                <td>2017/07/01 14:00:00</td>
                <td>www.123.22.com</td>
            </tr>

            <tr>
                <td>账户充值</td>
                <td>葫芦娃1</td>
                <td>2017/07/01 14:00:00</td>
                <td>www.123.22.com</td>
            </tr>

            <tr>
                <td>账户充值</td>
                <td>葫芦娃</td>
                <td>2017/07/01 14:00:00</td>
                <td>www.123.22.com</td>
            </tr>

            <tr>
                <td>账户充值</td>
                <td>葫芦娃</td>
                <td>2017/07/01 14:00:00</td>
                <td>www.123.22.com</td>
            </tr>

            <tr>
                <td>账户充值</td>
                <td>葫芦娃</td>
                <td>2017/07/01 14:00:00</td>
                <td>www.123.22.com</td>
            </tr>

            <tr>
                <td>账户充值</td>
                <td>葫芦娃</td>
                <td>2017/07/01 14:00:00</td>
                <td>www.123.22.com</td>
            </tr>

            <tr>
                <td>账户充值</td>
                <td>葫芦娃</td>
                <td>2017/07/01 14:00:00</td>
                <td>www.123.22.com</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="info_page">
        <span class="skip">跳转到 <input class="skip-num form-control">页  <span class="btn btn-skip">跳转</span></span>
        <ul class="pagination" style="margin-top:0px; float:right;">
            <li class="go"><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li>&nbsp;...&nbsp;</li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li class="active"><a href="#">10</a></li>
            <li><a href="#">11</a></li>
            <li><a href="#">12</a></li>
            <li>&nbsp;...&nbsp;</li>
            <li><a href="#">30</a></li>
            <li class="go"><a href="#">»</a></li>
        </ul>
    </div>

</div>










<script src="../../js/jquery-3.0.0.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/BusinessService.js"></script>
<script>


    $('input.form_datetime').each(function(){//------------------日历插件
        $(this).datepicker({
            format: "yyyy-mm-dd",
            autoclose :true,
            todayBtn :true,
            minView :2,
            weekStart :1,
            linked :true
        });
    });

    //分页点击
    $('ul.pagination').find('li:not(.go)').each(function(){

        $(this).click(function(){

            jfpagechange(this);//参数为选择的当前元素
        })
    })


</script>
</body>
</html>