<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>子管理员权限</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
    <style>


    </style>
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>权限设置</h2>

    <%- include('../../component/child_administrator_personal/child_all_plate.ejs')%>

    <!--底部两个按钮-->
    <div class="info_middlebody" style="margin-left: 0">

        <div class="success_page_button">
            <a href="#"><button type="button" class="btn btn-primary save_set">保存</button></a>

            <a href="#"><button type="button" class="btn btn-primary cancle_set" >取消</button></a>
        </div>

    </div>

    <!--模态框1-->
    <div class="modal fade"  id="cancle_seting" tabindex="-1" aria-labelledby="modify_addressLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="modify_addressLabel">权限设置</h4>
                </div>
                <!-- body-->
                <div class="modal-body">


                    <h2 class="delete_title">确认取消该管理员权限？</h2>

                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-primary-zy delete_address">确认</button>
                        <button type="button" class="btn btn-default"  data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--模态框2-->
    <div class="modal fade"  id="pay_info_modeltwo" tabindex="-1" aria-labelledby="modify_addressLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="modify_addressLabel">权限设置</h4>
                </div>
                <!-- body-->
                <div class="modal-body">


                    <h2 class="delete_title">放弃设置？</h2>

                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-primary-zy delete_address">确认</button>
                        <button type="button" class="btn btn-default"  data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--模态框3-->
    <div class="modal fade"  id="pay_info_modeltwo" tabindex="-1" aria-labelledby="modify_addressLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="modify_addressLabel">权限设置</h4>
                </div>
                <!-- body-->
                <div class="modal-body">


                    <h2 class="delete_title">权限发生变更，请刷新后操作</h2>

                    <!-- footer -->
                    <div class="modal-footer" style="text-align:center">
                        <button type="button" class="btn btn-primary btn-primary-zy" data-dismiss="modal">刷新</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--特例--成功模态框-->
    <div class="modal fade" id="modal_success_set" tabindex="-1" aria-labelledby="modal_successLabel" aria-hidden="true"
         data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="modal_successLabel">添加成功</h4></div>
                <div class="modal-body">
                    <div class="title-success">
                        <div class="swal2-icon swal2-success animate"><span class="line tip animate-success-tip"></span>
                            <span class="line long animate-success-long"></span>
                            <div class="placeholder"></div>
                            <div class="fix"></div>
                        </div>
                        <div class="wenan-zy">添加成功</div>
                    </div>
                    <div class="modal-footer" style="text-align:center">
                        <button type="button" class="btn btn-primary btn-primary-zy" data-dismiss="modal">确定</button>

                        <button type="button" class="btn btn-primary btn-primary-zy" data-dismiss="modal">继续添加</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>

    //取消设置
    $('.cancle_set').on('click', function () {

        modelInfo('#cancle_seting'); //参数一：模态框id选择器
    });


    //保存设置
    $('.save_set').on('click', function () {

        modelInfo('#modal_success_set'); //参数一：模态框id选择器
    });


</script>

</body>
</html>