<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>子管理员设置</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
    <style>


    </style>
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>管理员权限设置

        <div class="staff_import">
            <a href="#"><button type="button" class="btn btn-primary lookup_btn2 add_admin_btn">添加管理员</button></a>
        </div>
    </h2>

    <div class="info_middlebody" >
        <!-- 一排多个组件-->

        <%- include('../../component/table/twoNormalInput.ejs',{
        "titleone":"姓名：",
        "placeholderone":"请输入姓名",
        "titletwo":"手机号：",
        "placeholdertwo":"请输入手机号"
        })%>

        <div class="control-title">
            <div >
                <span></span>
                <span><button type="submit" class="btn btn-primary btn-zyone btn-modeltwo">补发短信</button></span>
            </div>
            <div >
                <span style="visibility: hidden">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span><button type="submit" class="btn btn-primary btn-zyone btn-modeltwo">查询</button></span>
            </div>
        </div>

    </div>


        <!-- 表格-->
        <div class="table-responsive info_table">
            <table class="table table-striped">
                <thead>
                <tr class="tr-zy">
                    <th>请选择</th>
                    <th>员工编号</th>
                    <th>姓名</th>
                    <th>手机号</th>
                    <th>员工邮箱</th>
                    <th>上次登录时间</th>
                    <th>权限设置</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="radio" name="admin"></td>
                    <td>165195626565</td>
                    <td>葫芦娃</td>
                    <td>15236998564</td>
                    <td>56565655@qq.com</td>
                    <td>2017/07/01 14:00:00</td>
                    <td><a href="child_administrator_personal.html">修改</a><span class="cancle_buy">取消</span></td>
                </tr>
                <tr>
                    <td><input type="radio" name="admin"></td>
                    <td>165195626565</td>
                    <td>葫芦娃</td>
                    <td>15236998564</td>
                    <td>56565655@qq.com</td>
                    <td>2017/07/01 14:00:00</td>
                    <td><a href="child_administrator_personal.html">修改</a><span class="cancle_buy">取消</span></td>
                </tr>
                <tr>
                    <td><input type="radio" name="admin"></td>
                    <td>165195626565</td>
                    <td>葫芦娃</td>
                    <td>15236998564</td>
                    <td>56565655@qq.com</td>
                    <td>2017/07/01 14:00:00</td>
                    <td><a href="child_administrator_personal.html">修改</a><span class="cancle_buy">取消</span></td>
                </tr>
                </tbody>
            </table>
        </div>



    <!--添加管理员模态框-->
    <div class="modal fade" id="add_admin" tabindex="-1" aria-labelledby="info_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="info_modalLabel">添加一般管理员</h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <!--通用组件-->

                    <!-- 一排多个组件-->
                    <div class="control-title modal_inputchoose">
                        <div>
                            <span>姓名：</span>
                            <span><input type="text" class="form-control form-control-zy" placeholder="请输入员工姓名" id="name"></span>
                        </div>
                        <div>
                            <span>手机号码：</span>
                            <span><input type="text" class="form-control form-control-zy" placeholder="请输入手机号"></span>
                        </div>

                        <div class="noinput">
                            <span><button type="button" class="btn btn-primary lookup_btn2 lookup_admin">查询</button></span>
                        </div>
                    </div>


                    <!-- 模态框中的表格-->
                    <div class="table-responsive info_table">
                        <table class="table table-striped">
                            <thead>
                            <tr class="tr-zy">
                                <th>选择员工</th>
                                <th>姓名</th>
                                <th>手机号</th>
                                <th>员工邮箱</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr align="center">
                                <td><input type="radio" name="admin"></td>
                                <td class="name">孙悟空</td>
                                <td>135963584566</td>
                                <td>4926652626@qq.com</td>
                            </tr>
                            <tr align="center">
                                <td><input type="radio" name="admin"></td>
                                <td class="name">孙悟空</td>
                                <td>135963584566</td>
                                <td>4926652626@qq.com</td>
                            </tr>
                            <tr align="center">
                                <td><input type="radio" name="admin"></td>
                                <td class="name">孙悟空</td>
                                <td>135963584566</td>
                                <td>4926652626@qq.com</td>
                            </tr>
                            <tr align="center">
                                <td><input type="radio" name="admin"></td>
                                <td class="name">孙悟空</td>
                                <td>135963584566</td>
                                <td>4926652626@qq.com</td>
                            </tr>
                            <tr align="center">
                                <td><input type="radio" name="admin"></td>
                                <td class="name">孙悟空</td>
                                <td>135963584566</td>
                                <td>4926652626@qq.com</td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <p class="red_tips_right">*已成为管理员的手机号不在此展示</p>


                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-zy choosed_check">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>


    <!--取消管理员模态框-->
    <div class="modal fade" id="cancle_admin" tabindex="-1" aria-labelledby="info_modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="info_modalLabel">取消管理员权限</h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <!--通用组件-->
                    <h2 class="delete_title">确认取消该管理员权限？</h2>

                    <p class="red_tips_center">*注：取消后改管理员权限将被清空</p>

                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-zy checked_cancle">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>


</div>






<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>


    //添加管理员模态框
    $('.add_admin_btn').on("click",function(){
        //一个模态框出现的方法
        modelInfo('#add_admin'); //参数：模态框id选择器
    })

    $('.cancle_buy').on("click",function(){

        modelInfo('#cancle_admin');



    })

    $('.checked_cancle').on('click',function(){

        hideOneModal(this);//关闭当前模态框

         jfModelFrame.successModelShow('取消管理员权限设置','取消成功','');//成功模态框
    })



    //示例-------------------报错信息出现与清除

    $(".lookup_admin").on({

        click: function () {

            jfValidateInput.validateWrong('#name' , '该员工未激活');//参数一为选取的该元素，参数二为出现的提示信息
        }
    });


    $('#name').on('focus',function(){ //-----------再次焦点事件提示信息删除

         jfValidateInput.validateRemove(this);//参数为选取的该元素

    })


</script>
</body>
</html>