<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>子管理员添加</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
    <style>


    </style>
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>添加子管理员</h2>

    <!--内容111-->
    <div class="info_middlebody" style="margin-left: 0">
        <!-- 一排多个组件-->

        <%- include('../../component/table/twoNormalInput.ejs',{
        "titleone":"姓名：",
        "placeholderone":"请输入姓名",
        "titletwo":"手机号：",
        "placeholdertwo":"请输入手机号"
        })%>

        <div class="control-title">
            <div >
                <span class="account_jiaoyi"  >email：</span>
                <span><input type="text" class="form-control  form-control-zy" value="请输入邮箱号"></span>
            </div>
            <div >
                <span style="visibility: hidden">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span><button type="submit" class="btn btn-primary btn-zyone btn-modeltwo">查询</button></span>
            </div>
        </div>
    </div>




    <!-- 表格-->
    <div class="table-responsive info_table">
        <table class="table table-striped">
            <thead>
            <tr class="tr-zy">
                <th></th>
                <th>姓名</th>
                <th>手机号</th>
                <th>email</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center">
                <td><input type="radio" name="employee"></td>
                <td>小明</td>
                <td>13896588956</td>
                <td>785632987@126.</td>
                <td><span class="modify_address_btn">设置权限</span></td>
            </tr>
            <tr align="center">
                <td><input type="radio" name="employee"></td>
                <td>小明</td>
                <td>13896588956</td>
                <td>785632987@126.</td>
                <td><span class="modify_address_btn">设置权限</span></td>
            </tr>
            <tr align="center">
                <td><input type="radio" name="employee"></td>
                <td>小明</td>
                <td>13896588956</td>
                <td>785632987@126.</td>
                <td><span class="modify_address_btn">设置权限</span></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>

</body>
</html>