<div class="control-title">
    <div style="width: 100%">
        <span>交易时间：</span>
        <span>
                     <input size="16" type="text"  value="2016-06-15" readonly class="form_datetime form-control form-control-zy1">
                    至
                    <input size="16" type="text" value="2016-06-18"  readonly class="form_datetime form-control form-control-zy1" >
                </span>
    </div>
</div>