<div class="info_page">
    <span class="skip">跳转到 <input class="skip-num form-control">页  <span class="btn btn-skip">跳转</span></span>
    <ul class="pagination" style="margin-top:0px; float:right;">
        <li class="go"><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li>&nbsp;...&nbsp;</li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li class="active"><a href="#">10</a></li>
        <li><a href="#">11</a></li>
        <li><a href="#">12</a></li>
        <li>&nbsp;...&nbsp;</li>
        <li><a href="#">30</a></li>
        <li class="go"><a href="#">»</a></li>
    </ul>
</div>