.table.table-striped {

  th{
    text-align: center;
    white-space: nowrap;
  }
 tr{
   text-align: center;

   td{
     vertical-align: middle;

     a{
       display: inline-block;
       margin: 0 5px;
     }

     span{
       cursor: pointer;
       color: #337ab7;
       margin: 0 5px;
       display: inline-block;
      &:hover{
        color:#3498db ;
      }
     }
     .order_num{
       color:#337ab7;;

       &:hover{
         color: #23527c;
       }
     }

     small{
       color:#3498db
     }

     .default_address{
       opacity: 0;
       transition: opacity 0.3s linear;
       cursor: pointer;
       padding: 2px 6px;
       border-radius: 4px;
       background: #3498db;
       color: #FFFFFF;
       border: none;
       display:inline-block;
       text-align: center;
     }
   }

   &:hover{
     .default_address{
       opacity:1;
       color: #FFFFFF;
     }
   }


 }
}

.address_tips{
  text-align: right;
  margin-top: -10px;
  color: grey;
  margin-right: 20px;
}




/*修改input组件遗留问题----换行问题*/
@media screen and(max-width:1150px) {
  .control-title div>span:last-child{
    width: calc(~"100% - 100px");
  }
}
@media screen and(max-width:992px) {
  .control-title div>span:last-child{
    width: auto;;
  }
}

@media screen and (max-width: 500px) {
  .control-title div > span:last-child {
    width: 100%;
  }
}
@media screen and(max-width:1150px) {
  .control-title div>span:first-child{
    text-align: left;
  }
}