<div class="control-title">
    <div style="width: 100%">
        <span>交易时间：</span>
        <span>
                     <input size="16" type="text"  value="2016-06-15" readonly class="form_datetime form-control form-control-zy1">
                    至
                    <input size="16" type="text" value="2016-06-18"  readonly class="form_datetime form-control form-control-zy1" >
                </span>
    </div>
</div>


<div class="control-title">
    <div>
        <span><%=titleone%></span>
        <span>
               <select class="form-control  form-control-zy" >
                        <option selected="selected">全部</option>
                   <!--select按钮选项-->
                   <%for(var i=0;i<options.length;i++){%>
                   <option value="<%=options[i].option%>"><%=options[i].option%></option>
                   <%}%>

               </select>
        </span>
    </div>
    <div>
        <span class="account_jiaoyi" ></span>
        <span></span>
    </div>

</div>

<!--button-->

<div class="control-title">
    <div>
        <span></span>
        <span>
            <button type="submit" class="btn btn-primary lookup_btn2"><%=titleone%></button>
        </span>
    </div>
    <div>
        <span></span>
        <span></span>
    </div>
</div>