<div class="control-title">
    <div>
        <span></span>
        <span></span>
    </div>
    <div>
        <span></span>
        <span> <button type="submit" class="btn btn-primary lookup_btn2"><%=titleone%></button></span>
    </div>
</div>
