<!-- 一排多个组件-->
<div class="control-title">
    <div>
        <span><%=titleone%></span>
        <span><%=detailone%></span>
    </div>
    <div>
        <span><%=titletwo%></span>
        <span><%=detailtwo%></span>
    </div>
</div>