<!-- 一排多个组件-->
<div class="control-title">
    <div>
        <span><%=titleone%></span>
        <span>
          <input type="text" class="form-control form-control-zy" placeholder="<%=placeholderone%>">
          </span>
    </div>
    <div>
        <span><%=titletwo%></span>
        <span>
            <input type="text" class="form-control form-control-zy"  placeholder="<%=placeholdertwo%>">
         </span>
    </div>
</div>