<a class="list" href="card_details.html">
    <p class="produce_img"><img src="../../icon/shopping_cards_jingdong.jpg"></p>
    <div class="cards_value">
        <p class="price">￥200</p>
        <p class="value">面值：<span>3000</span></p>
    </div>

    <p class="title">京东电子卡</p>
</a>