<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>嘉福企业注册</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
    <!--IE8只能支持jQuery1.9-->
    <!--[if lte IE 8]>
    <script src="http://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <![endif]-->
</head>
<body class="register_page">
<!--注册登录页面通用导航-->
<%- include('../../component/basic/topnav.ejs')%>
<div class="container">

    <div class="register_box">



        <div class="register_finish">
            <!--成功-->
            <%- include('../../component/basic/fail.ejs',{
            "title":"对不起，注册失败！"
            })%>

            <div class="register_finish_bottom">


                <!--一个按钮-->
                <%- include('../../component/button/fail_page_button.ejs',{
                "thisurl":"#",
                "btntext":"重新注册"
                })%>


            </div>


        </div>



    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>
    /*客服模块*/
    jfCustomerService.init({//用户信息
        name: '阿陈',// 名字
        address: '西伯利亚',// 地址
        email: '1313@qq.com',// 邮箱
        age: '16',// 年龄
        tel: '110',// 电话
        comment: '很帅',// 备注
        gender: '男',// 性别
        qq: '1234567',// QQ
        weibo: '',// 微博
        weixin: '',// 微信
        '公司名称':'上海淘略数据有限公司',
        '公司编号':'123ksuhdaf891274',
        '员工编号':'1234567890123456'
    })
</script>
</body>
</html>