<div class="smodal_content">
    <div class="info_content">
        <p class="pay_model_pp messageinput">
            <input type="text" class="form-control btn-md-zy">
            <button type="button" class="btn btn-primary input-group-addon getmessage " style="text-align: center;font-size: 12px">&#x70B9;&#x51FB;&#x83B7;&#x53D6;</button>
        </p>

    </div>
</div>