<!-- 一排多个组件-->
<div class="control-title modal_inputchoose">
    <div>
        <span>邮箱：</span>
        <span><input type="text" class="form-control form-control-zy" placeholder="请输入员工邮箱"></span>
    </div>
    <div>
        <span>手机号码：</span>
        <span><input type="text" class="form-control form-control-zy" placeholder="请输入手机号码"></span>
    </div>

    <div class="noinput">
        <span><button type="button" class="btn btn-primary lookup_btn2">查询</button></span>
    </div>
</div>
