<!--编辑模态框-->
<div class="modal fade" tabindex="-1" aria-labelledby="staff_lookup_editLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                <h4 class="modal-title" id="staff_lookup_editLabel"> 编辑员工信息 </h4>
            </div>
            <!-- body-->
            <div class="modal-body">

                <!--模态框组件-->
                <div class="smodal_content">
                    <div class=" info_content modal22">
                        <span >邮箱：</span>
                            <span >
                                dshfoisd565@163.com
                            </span>
                    </div>
                </div>
                <div class="smodal_content">
                    <div class=" info_content modal22">
                        <span >员工编号：</span>
                            <span >
                                <input type="text" class="form-control btn-md-zy11" />
                            </span>
                    </div>
                </div>
                <div class="smodal_content">
                    <div class=" info_content modal22">
                        <span ><span style="color: red">*</span>员工姓名：</span>
                            <span >
                                <input type="text" class="form-control btn-md-zy11" />
                            </span>
                    </div>
                </div>

                <div class="smodal_content">
                    <div class=" info_content modal22">
                        <span ><span style="color: red">*</span>手机号码：</span>
                            <span >
                                <input type="text" class="form-control btn-md-zy11 phonenum"  />
                            </span>
                    </div>
                </div>
                <div class="smodal_content">
                    <div class=" info_content modal22">
                        <span >身份证：</span>
                            <span >
                                <input type="text" class="form-control btn-md-zy11" />
                            </span>
                    </div>
                </div>

                <div class="smodal_content">
                    <div class=" info_content modal22">
                        <span >注销状态：</span>
                            <span>
                               <select class="form-control  btn-md-zy11" >
                                   <option value="全部" selected="selected">全部</option>
                                   <option value="待处理">未注销</option>
                                   <option value="待处理">已注销</option>
                               </select>
                            </span>
                    </div>
                </div>
                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-zy model-change1 edit_close">保存</button>
                    <button type="button" class="btn btn-default"  data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>