<div class="smodal_content">
    <div class="info_content">
        <p class="pay_model_pp">
            <input type="text" class="form-control btn-md-zy11" placeholder="<%=thisplaceholder%>">
        </p>
    </div>
</div>