<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>嘉福平台</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">

</head>
<body id="error_404" class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
<div class="error_404">
    <!--图片-->
    <div class="error_pic">
        <div class="bg_404"></div>
        <div class="star"></div>
        <div class="astronaut"></div>
    </div>
    <!--提示性文字-->
    <div class="tip_404">很遗憾，您访问的页面去太空啦..</div>

    <!--返回首页-->
    <div class="error_404_btn">
        <div class="btn btn-primary error_btn" onclick="window.history.go(-1)">返回上一页</div>
    </div>
</div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
</html>