<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>嘉福平台</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">

</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">

    <div class="error_500">
        <!--图片-->
        <div class="error_pic">
            <div class="bg_500"></div>
            <div class="road"></div>
            <div class="shadow"></div>
            <div class="stone"></div>
            <div class="car"></div>
        </div>
        <!--提示性文字-->
        <div class="tip_500">这里的程序出现了意外，工程师们正在抢修啦..</div>
        <!--返回首页-->
        <div class="error_404_btn">
            <div class="btn btn-primary error_btn" onclick="window.history.go(-1)">返回上一页</div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
</html>